@mixin box_shadow($val) {  
  -webkit-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
@mixin transform($val) {  
  -webkit-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  -moz-transform: $val;
  transform: $val;
}
@mixin transition($val) {  
  -webkit-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

$dark: #303139;
$half_dark: #717177;
$border: #e4e4e4;
$btn: #0eb1c4;
$btn_hover: #303139;
$btn_primary: #f5b303;
$btn_primary_hover: #303139;
body{
  background-image: url('/img/account_page_bg.jpg');
}
.wrapper{
  position: relative;
}
header {
  padding-left: 50px;
  padding-right: 50px;
}
aside {
  position: absolute;
  top: 96px;
  left: 0;
  background-color: #fff;
  height: calc(100% - 182px);
  @include box_shadow(-1px 0 10px 0 rgba(0,0,0,0.75)); 
}
.input-error{
  border-color: red !important;
}
.account-menu {
  position: relative;
  width: 328px;
  padding: 30px 60px 30px 30px;
  @include transition(width 0.5s);
} 

.account-menu-control {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.75;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 4px 0;
    background-color: #1d1d1d;
    cursor: pointer;
    @include transition(all 0.3s);
  }
  &:hover{
    opacity: 1;
  }
}
.account-menu-content {
  a {
    display: block;
    position: relative;
    width: 100%;
    height: 22px;
    min-width: 30px;
    margin-bottom: 20px;
    padding-left: 50px;
    text-transform: uppercase;
    color: #1f1d1d;
    @include transition(all 0.2s);
    &:hover {
      text-shadow: 0 1px 0px rgba(0,0,0,0.8);
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-image: url('/img/account-icons.png');
      background-repeat: no-repeat;
    }    
  }
  .account-item-active {
    text-shadow: 0 1px 0px rgba(0,0,0,0.8);
  }
  .left-banners{
    margin-top: 45px;
    margin-bottom: 15px;
    .left-banner{
      width: 90%;
      margin-bottom: 15px;
      a{
        display: block;
        width: 100%;
        height: 100%;
        padding-left: 0;
        margin-bottom: 0;
        &:after{
          display: none;
        }
      }
      img{
        width: 100%;
        height: auto;
        border: 1px solid #f2f2f2;
        @include box_shadow(0 10px 15px 0 rgba(100,100,100,0.2));
        &:hover{
          @include box_shadow(0 10px 15px 0 rgba(100,100,100,0.5));
        }
      }
    }
    
  }
}
.account-settings-orders {
  &:after {
    background-position: 0 0;
  }
}
.account-settings-prices {
  &:after {
    background-position: -30px 0;
  }
}
.account-settings-portfolios {
  &:after {
    background-position: -58px 0;
  }
}
.account-settings-reviews {
  &:after {
    background-position: 0 -30px;
  }
}
.account-settings-branches {
  &:after {
    background-position: -30px -30px;
  }
}
.account-settings-mylabs {
  &:after {
    background-position: -141px 0px;
  }
}
.account-settings-invoices {
  &:after {
    background-position: -112px -30px;
  }
}
.account-settings-reports {
  &:after {
    background-position: -140px -30px;
  }
}
.account-settings-settings {
  &:after {
    background-position: -58px -30px;
  }
}
.account-settings-dashbord {
  &:after {
    background-position: -85px 0;
  }
}
.account-settings-catalog {
  &:after {
    background-position: -112px 0;
  }
}
.account-settings-staff {
  &:after {
    background-position: -168px 0;
  }
}
.account-settings-clients {
  &:after {
    background-position: -85px -30px;
  }
}

.account-settings-tickets{
  &:after {
    background-position: -166px -30px;
  }
}

.account-menu-cl {
  width: 80px;
  padding: 30px 25px;
  .account-menu-control {
    right: -8px;
    span{
      &:first-child{
        width: 44%;
        margin-left: auto;
        @include transform(rotate(45deg) translate(5px, 1px));
      }
      &:last-child{
        width: 44%;
        margin-left: auto;
        @include transform(rotate(-45deg) translate(5px, -1px));
      }
    }
  }
  .account-menu-content {
    a {
      width: 30px;
      height: 22px;
      font-size: 0;
      padding-left: 0;
    }
  }
  .left-banners{
    display: none;
  }
}
section {
  width: 100%;
  min-height: calc(100vh - 182px);
  padding-top: 10px;
  padding-left: 368px;
  padding-right: 30px;
  padding-bottom: 50px;
  @include transition(padding 0.5s);
}
.footer-banners{
  width: 100%;
  padding-top: 10px;
  padding-left: 368px;
  padding-right: 30px;
}
.section-menu-cl{
  padding-left: 110px;
}
.breadcrumbs {
  .content {
    max-width: 100%;
    padding: 0;
  }
}
.panel {
  position: relative;
  width: 96%;
  margin: 0 2% 30px;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 50px;
  @include box_shadow(0 0 15px 0 rgba(0,0,0,0.3));
}
.panel-half{
  width: 46%;
}
.panel-head-collapse{
  cursor: pointer;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #7d7d7d transparent;
  }
  &:hover{
    color: $dark;
    &:after{
      border-color: transparent transparent $dark transparent;
    }
  }
}
.panel-head-collapsed{
  margin-bottom: 0;
  &:after{
    border-width: 15px 10px 0 10px;
    border-color: #7d7d7d transparent transparent transparent;
  }
  &:hover{
    color: $dark;
    &:after{
      border-color: $dark transparent transparent transparent;
    }
  }
}
.panel-block-collapsed{
  display: none;
}
.panel-transparent{
  background-color: transparent;
  box-shadow: none;
  text-align: left;
  padding: 10px 0;
}
.panel-buttons{
  text-align: right;
}
.panel-head{
  margin-bottom: 30px;
  font-size: 30px;
  color: #555;
  font-weight: 700;
}
.panel-intro{
  margin-bottom: 10px;
  font-size: 13px;
}
.panel-filters{
  margin-bottom: 25px;
}
#show_filter_block{
  position: relative;
  padding: 15px 70px 15px 60px;
  &:after{
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 8px 4px;
    border-color: transparent transparent #ffffff transparent;
  }
}
#show_filter_block.show-filter-close{
  &:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;        
  }
}
.panel-table{
  padding: 0 0 20px 0;
  border-radius: 25px;
}
.panel-table p{
  padding: 20px;
}
.tc{
  text-align: center;
}
.tb{
  color: $btn;
}
.tbp{
  color: $btn_primary
}
button, input, textarea, select, .form-input{
  max-width: 100%;
  margin-bottom: 15px;
}
.form-input-required{
  border-color: #c3c3c3;
    border-width: 2px;
  .select2-container--default .select2-selection--single, .select2-dropdown, .select2-container--default .select2-search--dropdown .select2-search__field{
   border-color: #c3c3c3;
    border-width: 2px;
  }
}
label{
  font-weight: 700;
  color: $dark;
}
.form-checkbox {
  width: 100%;  
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  font-size: 12px;
  cursor: pointer;
  &:hover{
    color: $dark;
  }
  label{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin: 2px;
    cursor: pointer;
  }  
  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -999999px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    & + label {    
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid $border;
        border-radius: 1px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 9px;
        height: 9px;
        background-color: $btn;
        opacity: 0;
      }
    }
    &:checked + label {
      &:before {
        opacity: 1;  
      }
    }
  }
}
textarea{
  resize: none !important;
}
.btn-small {
  padding: 12px 25px;
}
.btn-green {
  background-color: #009800;
  &:hover{
    background-color: $dark;
  }
}
.button-submit .btn{
  padding: 20px 80px;
}
.setting-logo-line{
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1;
}
.company-logo{
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-size: 60%;
  background-color: #fff;
  border: 1px solid $border;
  border-radius: 50%;
  background-size: cover;
}
#file_psev_input, #file_psev_input2{
  position: relative;
  padding-right: 33px;
  color: $btn;
  cursor: pointer;
  span{
    display: block;
    max-width: 145px;
    overflow: hidden;
    cursor: pointer;
  }
  &:hover{
    text-decoration: underline;
  }
  &:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 23px;
    height: 23px;
    background-image: url('/img/download.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.company-logo-title{
  font-weight: 700;
  color: $dark;
}
.account-list-head{
  font-size: 15px;
}
.account-list-notice{
  padding: 0 10px;
}
.account-list-table {
  .account-list-cell {
    &:last-child {
      position: relative;
    }
  }
}
.account-list-table2 {
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 80%;
    }    
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
}

.account-list-table3 {
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 55%;
    }   
    &:nth-child(2) {
      width: 25%;
      text-align: center;
    }
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
}
.account-reviews-table{
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 10%;
    }   
    &:nth-child(2) {
      width: 65%;
      text-align: center;
    }
    &:last-child {
      width: 25%;
      text-align: center;
    }
  }
}
.account-list-table4 {
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 55%;
    }   
    &:nth-child(2) {
      width: 15%;
      text-align: center;
    }
    &:nth-child(3) {
      width: 10%;
      text-align: center;
    }
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
}
.account-list-table5 {
  .account-list-cell {
    padding: 10px;
    .company-logo {
      width: 50px;
      height: 50px;
    }
    &:first-child {
      width: 30%;
    }
    &:nth-child(2) {
      width: 25%;
      text-align: center;
    }
    &:nth-child(3) {
      width: 15%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 10%;
      text-align: center;
    }
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
}
.account-list-table6 {
  .account-list-cell {
    padding: 10px;
    .company-logo {
      width: 50px;
      height: 50px;
    }
    &:first-child {
      width: 29%;
    }
    &:nth-child(2) {
      width: 15%;
      text-align: center;
    }
    &:nth-child(3) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(5) {
      width: 12%;
      text-align: center;
    }
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
}
.account-list-table7 {
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 20%;
    }
    &:nth-child(2) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(3) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(5) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(6) {
      width: 12%;
      text-align: center;
    }
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
}
.account-order-table {
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 12%;
      font-weight: 700;
    }
    &:nth-child(2) {
      width: 7%;
      text-align: center;
    }
    &:nth-child(3) {
      width: 14%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(5) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(6) {
      width: 12%;
      text-align: center;
    }
    &:nth-child(7) {
      width: 10%;
      text-align: center;
      .delivery-history-name{
        font-size: 10px;
      }
      .delivery-history-arrow{
        width: 15px;
        height: 10px;
        margin: auto;
        background-size: 100%;
      }
      .delivery-history-left{
        background-image: url('/img/left_arr.png');
      }
      .delivery-history-right{
        background-image: url('/img/right_arr.png');
      }
    }
    &:nth-child(8) {
      width: 10%;
      text-align: center;
    }
    &:last-child {
      width: 10%;
      text-align: center;
    }
    .btn{
      padding: 7px 10px;
      font-size: 12px;
      width: 100%;
      max-width: 68px;
    }
  }
}
.account-table-chat{
  position: absolute;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  background-image: url('/img/newchat.png');
}
.account-table-progress{
  position: relative;
  width: 77px;
  height: 10px;
  border: 1px solid #e5e5e5;
  background-image: url('/img/colorline.jpg');
  span{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 8px;
    background-color: #fff;
  }  
}
.account-table-progress1{
  span{
    width: 76%
  }
}
.account-table-progress2{
  span{
    width: 51%
  }
}
.account-table-progress3{
  span{
    width: 26%
  }
}
.account-table-progress4{
  span{
    width: 0
  }
}
.account-table-status{
  width: 35px;
  margin: auto;
  position: relative;
  img{
    border-radius: 50%;
  }
  span{
    display: block;
    position: absolute;
    bottom: 0;
    padding: 2px 6px;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
  }
}
.account-list-tableServices{
  .account-list-cell {
    &:last-child {
      text-align: left;
    }
  }
}
.account-list-head {
  font-weight: 700;  
  background-color: #E4E4E4;
  border-bottom: 2px solid $border; 
  border-radius: 25px 25px 0 0; 
}
.account-list-lineRed{
 	background-color: #ffbcbc;
}
.account-list-content {
   .account-list-line {
      border-bottom: 1px solid $border;
      font-size: 13px;
      &:last-child {
        border-color: transparent;
      }      
   }
   .account-list-headline{
    font-size: 16px;
    color: #000;
   }
   .ap10{
      padding-left: 10px;
    }
    .ap20{
      padding-left: 20px;
    }
    .ap30{
      padding-left: 30px;
    }
    .form-input{
      padding: 10px;
      font-size: 13px;
    }
}
.account-invoices-table{
  .account-list-cell {
    padding: 10px;    
    &:first-child {
      width: 5%;
      font-weight: 700;
      .form-checkbox{
        top: -3px;
        input[type=checkbox] + label{
          width: 15px;
          margin: auto;
          &:after{
            border: 1px solid $dark;
          }          
        }
        input[type=checkbox]:checked + label{
          &:before{
            opacity: 0;
          }
        }
        input[type=checkbox]:checked + label.show-check-pseudo{
          &:before{
            opacity: 1;
          }
        }
      }
    }
    &:nth-child(2) {
      width: 10%;
      text-align: left;
    }
    &:nth-child(3) {
      width: 10%;
      text-align: center;
    }
    &:nth-child(4) {
      width: 15%;
      text-align: center;
    }
    &:nth-child(5) {
      width: 15%;
      text-align: center;
    }
    &:nth-child(6) {
      width: 15%;
      text-align: center;
    }
    &:nth-child(7) {
      width: 15%;
      text-align: center;
    }
    &:last-child {
      width: 15%;
      text-align: center;
    }
    .btn{
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}
.panel-table-controls{
  padding: 0;
  background-color: transparent;
  @include box_shadow(none);
  text-align: right;
}
.account-long-list{
  max-height: 600px;
  overflow-y: auto;
  padding: 15px;
}

.account-images-line{
  padding: 10px 0;
  border-bottom: 1px solid $border;
}
.account-images-lineHead{
  font-weight: 400;
  font-size: 18px;
  color: $half_dark;
}
.account-images-lineImages{
  padding: 10px;
}
.account-images-lineAdd, .account-images-lineImage{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 5px 15px;
  border: 2px dashed $btn;
  border-radius: 5px;
}
.account-images-lineImageL{
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;    
    border-radius: 5px;
    z-index: 2;
  }
}
.account-images-lineImage{
  img{
    width: 100%;
    max-width: 132px;
    height: auto;
    max-height: 132px;
    margin: auto;
  }
}
.account-images-lineRemove{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ff6666;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
  &:hover{
    background-color: #fb2626;
    * {
      cursor: pointer;
    }
  }
  div {
    position: relative;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 1px;
      background-color: #fff;
      border-radius: 50%;
      @include transform(rotate(45deg) translate(-4px, 3px));
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      @include transform(rotate(45deg) translate(-4px, -4px));
    }
  }
}
.account-images-lineAdd{
  opacity: 0.55;
  cursor: pointer;
  input{
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &:hover {
    opacity: 1;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 3px;
    background-color: $btn;
    border-radius: 40%;
    @include transform(translate(-50%, -1px));
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 35px;
    background-color: $btn;
    border-radius: 40%;
    @include transform(translate(-2px, -50%));
  }
}
#company_upgrade{
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .btn{
    padding: 20px 75px;
    font-size: 18px;
  }
  span{
    margin: 15px 0;
    font-size: 18px;
  }
}
.cancel-company-line{
  margin-bottom: 15px;
  text-align: center;
  p{
    margin-bottom: 15px;
  }
}
.form-filter{
	width: 275px;
  margin: 0 5px 10px;
	.btn{
		padding: 12px 25px;
		font-size: 16px;
	}
	.form-input{
		padding: 12px 12px 12px 20px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    margin-bottom: 0;
    @include placeholder{
      color: #555;
    }
	}
  .select2-container{
    width: 100% !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 11px 11px 11px 20px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 25px;
  }
  .select2-container--default .select2-selection--single{
    height: 44px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 42px;
  }
}
.filter-buttons{
  width: 100%;
  margin: 10px 0;
  text-align: left;
  .btn{
    margin-bottom: 0;
  }
}
.pagination-block{
  width: 100%;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      display: inline;
      padding: 3px;
      margin: 0 3px;
      a{
        color: $dark;
        &:hover{
          color: $btn;
        }
      }
    }
    li.disabled{
      &:first-child, &:last-child{
       display: none;
      }
    }
    li.active{
      color: $btn;
    }
  }
}
.order-editing-form{
  .panel-half{
    .form-line-text{
      margin-bottom: 2px;
    }
  }
  .panel-subhead{
    margin: 15px 0;
    font-weight: 700;
    color: #555;
  }
  p{
    margin: 0 0 5px;
  }
}
.order-file-line{
  position: relative;
  margin-bottom: 10px;
  .order-file-name{
     position: relative;    
  }
  input{
    display: none;
  }
  .order-file-remove{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    border-radius: 3px;
    cursor: pointer;
    z-index: 3;
    &:hover{
      background-color: #fb2626;
    }
    div{
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(45deg) translate(-4px, 3px);
        cursor: pointer;
      }
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(45deg) translate(-4px, -4px);
        cursor: pointer;
      }
    }
  }
}
.order-file-icon{
  position: relative; 
  width: 70px;
  height: 90px;
  border: 2px solid #6d6e70;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover{
    border: 2px solid $btn;
  }
  div{
    width: 100%;
    height: 100%;
    a{
      width: 100%;
      height: 100%;      
      color: #6d6e70;
      font-weight: 700;
      &:hover{
        color: $btn;
      }
    }
  }
  .order-file-remove{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    border-radius: 3px;
    cursor: pointer;
    z-index: 3;
    &:hover{
      background-color: #fb2626;
    }
    div{
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(45deg) translate(-4px, 3px);
        cursor: pointer;
      }
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(45deg) translate(-4px, -4px);
        cursor: pointer;
      }
    }
  }
}

.order-prescription-block .form-line{
  margin-bottom: 30px;
  .prescription-name{
    color: #555;
    font-weight: 700;
  }
  .prescription-desc{
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
  }
 
  .prescription-inputs{
    width: 100%;
  }
  .prescription-inputs-half{
    width: calc(100% - 200px);
  }
  .prescription-image{
    width: 170px;
    margin-right: 30px;
    img{
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }
  .form-checkbox {
    width: initial; 
    margin-right: 20px;
    margin-bottom: 10px;
    img{
      display: block;
      max-width: 50px;
      margin: 0 auto 10px;
    }
    input{
      width: 100%;
      margin-bottom: 10px;
    }
    label{
      width: 100%;
    }
  }  
}
textarea{
  resize: none !important;
}
.panel-1quarter{
  position: relative;
  z-index: 2;
  width: 25%;
  padding-right: 30px;
}
.panel-2quarter{
  position: relative;
  z-index: 2;
  width: 50%;
  padding-right: 30px;
}
.panel-3quarter{
  position: relative;
  z-index: 2;
  width: 75%;
  padding-left: 30px;
}
.panel-1third{
  position: relative;
  z-index: 2;
  width: 33.3333%;
  padding-right: 30px;
}
.order-prescription-imgBl{
  width: 100%;
  position: relative;
  span{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 24px;
    strong{
      display: none;
    }
  }
  div{
    width: 100%;
    text-align: center;
    svg{
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }
}
 .selecteds-for-print{
    display: none;
  }
.order-prescription-Infoblock{
  .prescription-service-name{
    font-size: 20px;
    label{
      width: calc(100% - 140px)
    }
  }

  .form-line{
    margin-bottom: 20px;
  }
  label {
    max-width: initial;
    width: initial;
    margin: 0 20px 0 0;
  }
  .prescription-image{
    width: 25px;
    margin-right: 15px;
    height: auto;
    img{
      width: 100%;
    }
  }
  .prescription-inputs{
    width: 100%;
  }
  .prescription-inputs-half{
    width: calc(100% - 40px)
  }
  .form-checkbox{
    width: initial;
    img{
      width: 20px;
      height: auto;
      max-height: 30px;
      margin-right: 10px;
    }
  }
}
.order-icons-icon{
  width: 35px;
  height:35px;
  border-radius: 50%;
  margin-right: 10px;
}
.order-change-status{
  width: 250px;
  .select2-container--default .select2-selection--single{
    background-color: #fff;
  }
}
.prescription-service-price{
  span{
    display: block;
  }
}
.old-price{
  font-size: 0.75em;
  color: grey;
  text-decoration: line-through;
}
.price-danger{
  color: red;
}
.price-good {
  color: green;
}
.order-total-block {
  margin-left: 20px;
  label{
    width: initial;
    margin-right: 5px;
  }
  input{
    width: initial;
    max-width: 120px;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    background-color: #fff;

  }
}
.print-btn-block {
  text-align: right;
  .btn{
    font-size: 12px;
    padding: 15px 35px;
  }
}
.prescription-service-price {
  text-align: right;
}
.prescription-laboratory {
  display: none;
  .panel-subhead{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .prescription-laboratory-right{
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    img{
      display: block;
      width: 100px;
      height: 100px;
      margin: 9px auto;
    }
  }
  .prescription-laboratory-left{
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    img{
      width: 100px;
      height: 100px;
    }
  }
  .prescription-laboratory-center{
    text-align: center;
    .panel-subhead{
      font-size: 22px;
    }
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 300px);
    p{
      margin: 0 0 2px;
      font-size: 12px;
    }
  }
}
.panel-top-buttons{
  margin-bottom: 0;
  padding: 0;
  .button-submit{
    .btn-small{
      margin-bottom: 0;
      padding: 10px 30px;
      font-size: 12px;
    }
  }
}
.order-buttons{
  .btn-small{
      margin-bottom: 0;
      padding: 15px 40px;
      font-size: 12px;
    }
}
.order-editing-form{
  h1{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.order-top-block{
  margin-bottom: 15px;
}
.paid-background{
  position: absolute;
  top: 55px;
  right: 20px;
  z-index: 1;
  opacity: 0.15;
  span{
    display: block;
    padding: 15px 35px;
    border: 4px solid red;
    border-radius: 25px;
    color: red;
    font-size: 40px;
    font-weight: 700;
    @include transform(rotate(-15deg));
  }
}
.payment-popup{
  width: 350px; 
  text-align: left; 
  .panel-head{
    margin-bottom: 20px;
  }
  .panel-subhead{
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 700;
    color: $half_dark;
  }
  .form-line.payment-popup-btn{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0;
  }
  .payment-popup-total{
    span{
      color: $dark;
    }
  }
  .payment-popup-pay{
    font-size: 18px;
    font-weight: bold;
    span{
      color: $dark;
      
    }
  }
  .payment-popup-debt{
    span{
      color: #d40000;
      font-weight: bold;
    }
  }
  #online_payment_form{
    p{
        width: 100%;
        font-size: 14px;
      }
    .popup-payment-line{
      width: 100%;
      margin-bottom: 5px;
      label{
        margin: 0 0 2px;
        font-size: 12px;
      }
      input{
        width: 100%;
        margin-bottom: 0;
        border-radius: 2px;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        font-weight: 700;
      }
    }
    .popup-payment-half{
      width: 48%;
    }
  }
  #service_charge_msg{
  	font-size: 12px;
  	color: red;
  }
}
.invoice-print-content{
  width: 1024px;
  margin: auto;
  max-width: 100%;
  display: block;
  overflow: auto;
  p{
    margin: 0 0 2px;
  }
  .invoice-to_branch-left{
    p{
      font-size: 14px;
      &:first-child{
        font-size: 18px;
        margin: 2px 0 10px;
      }
    }
  }
}
.invoice-to_branch-left{
  width: 320px;
}
.invoice-to_branch-right{
  width: 320px;
  text-align: right;
}
.invoice-invoice-head{
  font-weight: 700;
  font-size: 30px;
}
.invoice-table{
  display: block;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  tr{
    &:last-child{
      border-bottom: 2px solid #000;
    }
  }
  td{
      padding: 5px 10px;
      border-left: 2px solid #000; 
      border-right: 2px solid #000; 
      font-size: 14px;
      font-weight: 500;
  }
  thead{
    tr{
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      td{
        text-align: center;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
  tfoot{
    tr{      
      border-bottom: 2px solid #000;
    }
  }
}
.invoice-full-table{
  width: 100%;
}
.invoice-short-table{
  width: 400px;
  thead{
    tr{
      td{
        text-align: left;
      }
    }
  }
  td{
    width: 400px;
  }
}
.invoice-small-table{
  margin-left: auto;
  width: 300px;
  td{
    width: 150px;
    text-align: center
  }
}
.invoice-one-table{
  margin-left: auto;
  width: 150px;
  td{
    width: 150px;
    text-align: center
  }
}
.invoice-table-infos{
  margin-bottom: 0;
  tr{
      &:last-child {
      border-bottom: none;
    }
  }
  thead{
    tr{
      &:last-child {
        border-bottom: 2px solid #000;
      }
    }
  }
  td{
    text-align: center;
    &:first-child{
      width: 130px;
    }
    &:nth-child(2){
      width: 165px;
    }
    &:nth-child(3){
      width: 60px;
    }
    &:nth-child(4){
      width: 120px;
    }
    &:nth-child(5){
      width: 95px;
    }
    &:nth-child(6){
      width: 220px;
    }
    &:last-child{
      width: 230px;
    }
  }
}
.invoice-table-invoice{
  thead{
    tr{
      td{
        text-align: center;
      }
    }
  }
  tr{
    border-bottom: 10px solid transparent;
  }
  td{
    &:first-child{
      width: 100px;
      text-align: right;
    }
    &:nth-child(2){
      width: 165px;
      text-align: left;
    }
    &:nth-child(3){
      width: 426px;
      text-align: left;
    }
    &:nth-child(4){
      width: 165px;
      text-align: right;
    }
    &:last-child{
      width: 165px;
      text-align: right;
    }
  }
  .invoice-prev-price{
    text-decoration: line-through;
    color: #656565;
  }
}
.invoice-amount-price{
  font-size: 16px;
}
.invoice-not-confirmed{
  color: red;
  font-size: 12px;
}
.invoice-total-price{
  font-size: 16px;
}
.invoice-total-line{
  strong{
    font-size: 30px;
  }
  .paid-background{
    top: -40px;
  }
}
.invoice-confirm-btns{
  justify-content: flex-end;
  .btn{
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 0 2px;
  }
}
.order-comment-line{
  color: red;
}
.prescription-price-setInput{
  justify-content: flex-end;
  text-align: right;
  input{
    width: 100px;
    margin: 0;
    margin-left: 3px;
    padding: 10px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 2px;
    text-align: center;
    @include box_shadow(0 1px 5px 0 rgba(0,0,0,0.3));
  }
}
.panel-top-fx {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 25;
    background-color: #ffF;
    @include box_shadow(0 1px 10px 0 rgba(0, 0, 0, 0.75));
    .btn-small{
      padding: 12px 35px;
    }
}
.tooltip-block{
  position: relative;
}
.tooltip-icon{
    display: inline-block;
    position: relative;
    top: -7px;
    border-radius: 50%;
    border: 1px solid;
    padding: 2px 4px;
    color: #eb3737;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.75;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
}
.content-tooltip{
    display: none;
    position: absolute;
    top: -50%;
    right: -190px;
    width: 200px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    text-align: left;
    font-size: 12px;
    text-align: left;
    @include transform(translate(0, -50%));
  .tooltip-color-item{
      display: inline-block;
      width: 14px;
      height: 14px;
      padding: 1px;
      border-radius: 50%;
      border: #f2f2f2;
      color: #fff;
      font-size: 8px;
      font-weight: 400;
      text-align: center;
  }
}
.order-file-icon{
  width: 70px;
  height: 90px;
  border: 2px solid #6d6e70;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover{
    border: 2px solid $btn;
  }
  div{
    width: 100%;
    height: 100%;
    a{
      width: 100%;
      height: 100%;      
      color: #6d6e70;
      font-weight: 700;
      &:hover{
        color: $btn;
      }
    }
  }
}
.report-list{
  margin: 40px 0 30px;
  padding: 0 0 0 30px;
  list-style-type: none;
  li{
    margin: 30px 0;
  }
  .report-list-item{
    padding: 20px 0 20px 45px;
    background-position: left center;
    &:hover{
       color: $btn;
       text-decoration: underline;
    }
  }
}
.statement-table-totals{
  margin-bottom: 0;
  width: 402px;
  thead{
    tr{
      &:last-child{
        border-bottom: 2px solid #000;
      }
    }
  }
  tr{
    &:last-child{
      border-bottom: none;
    }
  }
  td{
    width: 200px;
    text-align: center;
  }
}
.statement-table-invoices{
  margin-bottom: 0;
  thead{
    tr{
      &:last-child{
        border-bottom: 2px solid #000;
      }
    }
    td{
      text-align: center !important;
    }
  }
  tr{
    &:last-child{
      border-bottom: none;
    }
  }
  td{
    vertical-align: top;
    &:first-child{
      width: 152px;
      text-align: center;
    }
    &:nth-child(2){
      width: 470px;
      text-align: left;
    }
    &:nth-child(3){
      width: 200px;
      text-align: right;
    }
    &:last-child{
      width: 200px;
      text-align: right;
    }
  }
}
.orders-report-table{
  margin-bottom: 0;
  thead{
    tr{
      &:last-child{
        border-bottom: 2px solid #000;
      }
    }
    td{
      text-align: center !important;
    }
  }
  td{
    vertical-align: top;
    &:first-child{
      width: 115px;
      text-align: center;
    }
    &:nth-child(2){
      width: 155px;
      text-align: center;
    }
    &:nth-child(3){
      width: 275px;
      text-align: left;
    }
    &:nth-child(4){
      width: 160px;
      text-align: center;
    }
    &:nth-child(5){
      width: 175px;
      text-align: center;
    }
    &:last-child{
      width: 145px;
      text-align: right;
    }
  }
}
.statement-table-dates{
  margin-bottom: 0;
  td{
    width: 200px;
    text-align: center;
  }
}
.invoice-check-cell{
  .form-checkbox {
    margin: 0;
    label{
      margin: 0;
    }
  }
  span{
    width: calc(100% - 30px);
  }
}
.review-rating-stars{
	margin: 20px 0;
	input.review-rating-radio{
		width: 22px;
		height: 22px;
		max-width: 22px;
		margin: 5px;
		position: relative;

		&:after{
			display: block;
			content: "";
			width: 22px;
			height: 22px;
			background-image: url('/img/ratings.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			background-color: #fff;
		}

		&:hover{
			&:after{
				background-position: 0 -22px;
			}
		}
	}
	input.review-rating-radioAct{
		&:after{
			background-position: 0 -22px;
		}
	}
}
#account_menu_btn{
  display: none;
}
.dashbord-setup{
  justify-content: flex-end;
  margin: 0 2%;
  padding: 0 0 10px;

}
#dashboard_setup{
  width: 100%;
  margin-bottom: 15px;
  .form-line{
    width: initial;
    margin-right: 15px;
    margin-bottom: 0;
  }
}
#dashboard_setup_btn{
  padding: 20px;
  background-image: url('/img/setup.png');
}
.dashboard-item{
  margin-bottom: 25px;
  padding: 20px;
  .panel-head{
    margin-bottom: 15px;
    font-size: 22px;
  }
  .panel-content{
    max-height: 400px;
    overflow-y: auto;
  }
}
.dashboard-item-catalog, .dashboard-item-update{
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  p{
    margin: 0;
  }
}
.dashboard-message-line{
  margin-bottom: 10px;
  padding: 5px;
  opacity: 0.8;
  &:hover{
    opacity: 1;
    background-color: #f2f2f2;
  }
  span{
    display: block
  }
  a{
    color: $dark;
    &:hover{      
      color: $dark;
      text-decoration: none;
    }
  }
  .dashboard-message-name{
    font-weight: 700;
    font-size: 16px;
  }
  .dashboard-message-date{
    color: $half_dark;
    font-size: 12px;
  }
  .dashboard-message-content{
    font-size: 14px;
  }
}
.dashboard-statuses-list{
  .dashboard-statuses-line{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: $dark;
    opacity: 0.8;
    &:hover{
      background-color: #f2f2f2;
      color: $dark;
      opacity: 1;
    }
  }
  .dashboard-statuses-icon{
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .dashboard-statuses-name{
    width: calc(100% - 90px);
  }
  .dashboard-statuses-count{
    width: 55px;
    font-weight: 700;
    text-align: right;
  }
}
.dashboard-orders-list{
  .dashboard-orders-line{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: $dark;
    opacity: 0.8;
    &:hover{
      background-color: #f2f2f2;
      color: $dark;
      opacity: 1;
    }
  }
  .dashboard-orders-lineAct{
    background-color: #ffcbcb;
    &:hover{
      background-color: #ffcbcb;
    }
  }
  .dashboard-orders-id{
    width: 80px;
    font-size: 10px;
    text-align: left;
  }
  .dashboard-orders-icon{
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .dashboard-orders-name{
    width: calc(100% - 215px);
    font-weight: 700;
    font-size: 12px;
  }
  .dashboard-orders-date{
    width: 80px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
  }
}
.dashboard-locations-list{
  .dashboard-locations-line{
    padding: 5px 0;
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    &:hover{
      background-color: #f2f2f2;
    }
  }
  .dashboard-locations-lineHead{
    font-weight: 700;
    font-size: 16px;
    background-color: $border;
    border-bottom: none;
    &:hover{
      background-color: $border;
    }
  }
  .dashboard-locations-logo{
    width: 35px;
    height: 35px;
    a {
      display: block;
      width: 30px;
      height: 30px;
      background-size: 100%;
      border-radius: 50%;
      border: 1px solid $border;
    }
  }
  .dashboard-locations-name{
    width: calc(100% - 700px);
    text-align: left;
    a{
      color: $dark;
      &:hover{
        color: $dark;
      }
    }
  }
  .dashboard-locations-cancelled{
    width: 80px;
    text-align: center;
    font-size: 13px;
    span{
      display: block;
    }
    a{
      color: $dark;
      &:hover{
        color: $dark;
      }
    }
  }
  .dashboard-locations-procces{
    width: 80px;
    text-align: center;
    font-size: 13px;
    span{
      display: block;
    }
    a{
      color: $dark;
      &:hover{
        color: $dark;
      }
    }
  }
  .dashboard-locations-complited{
    width: 80px;
    text-align: center;
    font-size: 13px;
    span{
      display: block;      
    }
    a{
      color: $dark;
      &:hover{
        color: $dark;
      }
    }
  }
  .dashboard-locations-unpaid{
    width: 80px;
    font-size: 13px;
    text-align: center;
    a{
      color: red;
      &:hover{
        color: red;
      }
    }
  }
  .dashboard-locations-paid{
    width: 80px;
    font-size: 14px;
    text-align: center;
    a{
      color: green;
      &:hover{
        color: green;
      }
    }
  }
}
.dashboard-item-notifications{
  .panel-content{
    max-height: 250px;
  }
}
.dashboard-notification-line{
  border-bottom: 1px solid $border;
  padding: 5px;
  &:last-child{
    border-bottom: 0
  }
  .dashboard-notification-date{
    font-size: 12px;
    color: $half_dark;
  }
  .dashboard-notification-text{
    width: calc(100% - 145px);
  }
  .dashboard-notification-action{
    .btn-small{
      padding: 6px 12px;
      font-size: 12px;
    }
  }
}
.hide-desc{
  display: none;
}
.ship-date-change, .ship-date-confirm{
	margin-left: 5px;
	padding: 4px 8px;
	font-size: 9px;
}
.delivery-form-block{
	width: 100%;
}
.delivery-form-line{
	width: 30%;
	.form-input{
		margin-bottom: 0;
	}
	label{
		font-size: 12px;
	}
}
#delivery_history{
	width: 100%;
	margin-top: 35px;
}
.delivery-history-line{
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
	.btn-small{
		font-size: 12px;
		padding: 6px 12px;
	}
	.delivery-history-clinic{
		width: 180px;
		font-weight: bold;
	}
	.delivery-history-lab{
		width: 165px;
		font-weight: bold;
	}
	.delivery-history-delete{
		width: 70px;
		text-align: right;
	}
	.delivery-history-service{
		width: calc(100% - 420px);
		justify-content: space-around;
	}
	.delivery-history-arrow{
		width: 25px;
		height: 20px;
		background-size: 100%;
	}
	.delivery-history-name{
		width: 50%;
		text-align: center;
	}
	.delivery-history-left{
		background-image: url('/img/left_arr.png');
	}

	.delivery-history-right{
		background-image: url('/img/right_arr.png');
	}
}
.location-check-results{
  a{
    color: $btn !important;
    &:hover{
      color: $dark !important;
      text-decoration: underline;
    }
  }
}
.price-changing-popup{
  text-align: left;
  h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: $dark;
    font-weight: 400;
  }
  label{
    width: 100%;
    margin-top: 0;
    font-size: 12px;
  }
  .form-input{
    position: relative;
    top: -3px;
    height: 30px;
    padding: 5px 15px;
    border-radius: 6px;
    width: calc(100% - 30px);
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1439px) {
  h1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn{
    padding: 10px 45px;
  }
  .btn-small{
    padding: 8px 20px;
    font-size: 13px;
  }
  .order-buttons .btn-small{
    padding: 8px 30px;
  }
  #show_filter_block {
      padding: 10px 50px 10px 40px;
      &:after{
        top: 14px;
      }
  }
  .account-menu {
    position: relative;
    width: 255px;
    padding: 30px;
  }
  .panel-half, .dashboard-item{
    width: 100%;
    margin: 0 auto 30px;
  }
  .button-submit {
    .btn{      
      padding: 10px 30px;
    }
  }
  section, .footer-banners{
    padding-left: 275px;
  }
  .account-list-cell, .account-order-table .account-list-cell, .account-invoices-table .account-list-cell{
    padding: 5px;
    .btn{
      margin-bottom: 5px;
      padding: 6px 10px;
      font-size: 10px;
    }
    img{
      width: 30px;
    }
  }
  .account-list-table4 .account-list-cell{
    &:first-child{
      width: 45%;
    }
    &:nth-child(2){
      width: 25%;
    }
  }
  .form-filter{
    width: 30%;
    margin: 0 1% 10px;
    .btn{
      padding: 8px 20px;
      font-size: 14px;
    }
  } 
  .account-menu-cl {
      width: 80px;
      padding: 30px 25px;
    }

    .section-menu-cl{
      padding-left: 110px;
    }
  .account-menu-content {
    a{
      margin-bottom: 10px;
    }

  }
  .account-list-content{
    .account-list-line{
      font-size: 10px;
    }
  }
  .account-list-head{
    font-size: 11px;
  }
  .tooltip-icon{
    top: -1px;
  }
  .dashboard-locations-list {
    .dashboard-locations-name{
      width: calc(100% - 600px);
    }
  }
}
@media screen and (max-width: 1280px) {
  	.tooltip-icon {
    	padding: 2px 4px 1px;
  	}
  	.delivery-history-line {
  		.delivery-history-name{
  			width: 80%;
  		}
    }
    .delivery-form-line {
	    width: 100%;
	    text-align: center;
	}

}
@media screen and (max-width: 1024px) {
  .account-menu-control{
    display: none;
  }
  .account-menu-content{
    display: none;
    padding: 15px 20px;
  }
  .account-menu-contentAct{
    display: block;
  }
  #account_menu_btn{
    display: block;
    width: 100%;
    padding: 12px;
    background-color: $btn;
    border-radius: 2px;
    span{
      display: block;
      width: 38px;
      height: 3px;
      background-color: #fff;
      border-radius: 10px;
      margin: 4px auto;
      @include transition(all 0.2s);
    }
  }
  .account-menu-btnAct{
    span{
      &:first-child{
        @include transform(rotate(-45deg) translate(-5px, 3px));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child{
        @include transform(rotate(45deg) translate(-7px, -4px));
      }
    }
  }
  aside {
    position: static;
    width: 100%;
    padding: 15px;
  }
  .account-menu{
    width: 100%;
    padding: 0;
  }
  section, .footer-banners{
    padding: 15px;
  }
  .dashboard-locations-logo{
    display: none;
  }
  
  .dashboard-locations-list {
    .dashboard-locations-cancelled, .dashboard-locations-procces, .dashboard-locations-complited, .dashboard-locations-paid, .dashboard-locations-unpaid{
      font-size: 12px;
    }
    .dashboard-locations-line{
      padding: 5px;
    }
    .dashboard-locations-name{
      font-size: 12px;
      width: calc(100% - 400px);
    }
  }
  .dashboard-item-notifications{
    .panel-content{
      max-height: 400px;
    }
  }
  .dashboard-notification-line{
    .dashboard-notification-date{
      font-size: 10px;
    }
    .dashboard-notification-text{
      width: calc(100% - 110px);
      font-size: 12px;
    }
    .dashboard-notification-action{
      .btn-small{
        padding: 5px 10px;
        font-size: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .panel-head{
    font-size: 22px;
  }
  .dashboard-locations-list {
    .dashboard-locations-cancelled, .dashboard-locations-procces, .dashboard-locations-complited{
      display: none;
    }
    .dashboard-locations-name{
      width: calc(100% - 160px);
    }
  }
  .dashboard-message-line{
    .dashboard-message-content, .dashboard-message-name{
      font-size: 12px;
    }
  } 
  .dashboard-statuses-list{
    .dashboard-statuses-name, .dashboard-statuses-count{
      font-size: 12px;
    }
  } 
  .dashboard-orders-list {
    .dashboard-orders-name {
      width: calc(100% - 105px);
    }
    .dashboard-orders-date{
      display: none;
    }
  }
  .delivery-history-line{
  	display: block;
  	margin-bottom: 15px;
  	text-align: center;
  	.delivery-history-clinic{
  		width: 100%;
  		margin-bottom: 15px;
  	}
  	.delivery-history-service{
		width: 100%;
		flex-direction: column;
  	}
  	.delivery-history-lab{
  		width: 100%;
  		margin-top: 15px;
  		margin-bottom: 5px;
  	}
  	.delivery-history-delete{
  		width: 100%;
  		text-align: center;
  	}
  	.delivery-history-name{
  		margin: 10px 0;
  	}
  	.delivery-history-right{
  		@include transform(rotate(90deg));
  	}
  	.delivery-history-left{
  		@include transform(rotate(-90deg));
  	}
  }

}
@media screen and (max-width: 600px) {
  header{
    padding: 15px;
  }
  .account-menu-content {
    .left-banners{
      width: 75%;
    }
  }
  .account-table-progress, .account-list-head, .pay-controls, .breadcrumbs{
    display: none;
  }
  .account-list-content{
    .account-list-line{
      padding: 10px 0;
      font-size: 17px;
    }
  }
  .account-list-cell .btn, .account-invoices-table .account-list-cell .btn{
    padding: 10px 20px;
    font-size: 15px;
  }
  .account-list-cell{
    width: 100% !important;
    text-align: center;
  }
  .account-invoices-table{
    .account-list-cell{
      &:first-child {
        display: none;
      }
      &:nth-child(2){
        text-align: center;
      }
    }
  }
  #panel_top_buttons{
    justify-content: flex-end !important; 
    .btn{
      margin-bottom: 10px;
    }
    .panel-top-buttons{
      text-align: right;
    }
  }
  .panel-top-fx{
    padding: 10px 15px;
    .btn{
      margin-bottom: 5px;
    }
  }
  .panel{
    padding: 25px;
  }
  .panel-buttons{
    text-align: center;
    justify-content: center;
  }
  .dashboard-item{
    padding: 15px;
  }
  .panel-1quarter, .panel-2quarter, .panel-3quarter{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
  .order-icons-bar{
    width: 100%;
    justify-content: center;
  }
  .order-change-status{
    width: 100%;
    margin-top: 10px;    
  }
  .form-filter{
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }
  .order-prescription-Infoblock .prescription-service-name label{
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }
  .prescription-service-price{
    width: 100%;
    text-align: center;
  }  
  .payment-popup {
      width: 300px;
  }
  .company-logo-title{
    width: 100%;
    margin-bottom: 20px;
  }
  #file_psev_input{
    padding-right: 48px;
  }
  #file_psev_input2{
    padding-right: 41px;
  }
  .panel-mob-short{
    margin: 0 2% 5px;
  }
  .panel-transparent.panel-mob-short{
    padding-top: 0;
  }
  #show_filter_block{
    margin-bottom: 5px;
  }
  .hide-desc{
    display: block;
  }
  .payment-popup .payment-popup-pay {
    font-size: 16px;
    span{
		font-size: 14px;
		#service_charge_msg{
			font-size: 10px;
		}
    }
  }
}
@media screen and (max-width: 480px) {
  .btn{
    padding: 10px 20px;
  }
  .btn-small{
    padding: 8px 16px;
    font-size: 12px;
  }
  .order-buttons .btn-small{
    padding: 8px 16px;
  }
  .payment-popup {
      width: 300px;
  }
}