#chat_content{
	width: 100%;
	height: 400px;
	overflow: auto;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.chat-content-line{
	width: 100%;
	margin-bottom: 15px;
	.chat-content-lineBody {
		min-width: 30%;
		border: 1px solid #f2f2f2;
		background-color: #c8d9ff;
		padding: 15px;
		border-radius: 10px;
	}
}
.chat-content-lineR{
	justify-content: flex-end;
	.chat-content-lineBody {
		text-align: right;
		background-color: #bdffbd;
	}
}
.chat-content-name{
	font-weight: bold;
	font-size: 17px;
}
.chat-content-date{
	color: grey;
	font-size: 12px;
}
.chat-content-text{
	font-size: 15px;
}
#chat_message{
	width: calc(100% - 75px);
	border-radius: 2px;
	margin-left: 0;
	padding: 15px;
}
#chat_add_file{
	width: 35px;
	height: 35px;
	opacity: 0.8;
	cursor: pointer;
	&:hover{
		opacity: 1;
	}
}
.chat-add-file{
	background-image: url('/img/add_file.png');
}
.chat-delete-file{
	background-image: url('/img/added_file.png');
}
#chat_file{
	display: none;
}
.chat-save-file{	
	background-image: url('/img/add_file_mini5.png');
	background-repeat: no-repeat;
	background-position: 82px 10px;
    padding: 11px 60px 12px 30px;
}