@mixin box_shadow($val) {  
  -webkit-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
@mixin transform($val) {  
  -webkit-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  -moz-transform: $val;
  transform: $val;
}
@mixin transition($val) {  
  -webkit-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

$dark: #303139;
$half_dark: #717177;
$border: #e4e4e4;
$btn: #0eb1c4;
$btn_hover: #303139;
$btn_primary: #f5b303;
$btn_primary_hover: #303139;


.panel {
  position: relative;
  width: 96%;
  margin: 0 2% 30px;
  background-color: #fff;
  padding: 30px 50px;
  @include box_shadow(0 0 15px 0 rgba(0,0,0,0.3));
}
.panel-half{
  width: 46%;
}
.panel-transparent{
  background-color: transparent;
  box-shadow: none;
  text-align: left;
  padding: 10px 0;
}
.panel-buttons{
  text-align: right;
}
.panel-head{
  margin-bottom: 30px;
  font-size: 22px;
  color: #555;
  font-weight: 700;
}
.panel-head-collapse{
  cursor: pointer;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #7d7d7d transparent;
  }
  &:hover{
    color: $dark;
    &:after{
      border-color: transparent transparent $dark transparent;
    }
  }
}
.panel-head-collapsed{
  margin-bottom: 0;
  &:after{
    border-width: 15px 10px 0 10px;
    border-color: #7d7d7d transparent transparent transparent;
  }
  &:hover{
    color: $dark;
    &:after{
      border-color: $dark transparent transparent transparent;
    }
  }
}
.panel-block-collapsed{
  display: none;
}
.panel-subhead{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  font-weight: 700;
}
button, input, textarea, select, .form-input{
  max-width: 100%;
  color: $half_dark;
  @include placeholder {
    color: #bbb;
  }
  &:disabled{
    cursor: default;
    background-color: #fff;
  }
}
label{
  max-width: 100%;
  color: $half_dark;
}
.form-checkbox {
  width: 100%;  
  position: relative;
  font-size: 12px;
  cursor: pointer;
  &:hover{
    color: $dark;
  }
  label{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin: 2px;
    cursor: pointer;
  }  
  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -999999px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    & + label {    
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid $border;
        border-radius: 1px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 9px;
        height: 9px;
        background-color: $btn;
        opacity: 0;
      }
    }
    &:checked + label {
      &:before {
        opacity: 1;  
      }
    }
  }
}
.form-input-required{
    border-color: #c3c3c3;
    border-width: 2px;
}
.form-input-required ~ .select2.select2-container--default{
  .select2-selection--single{
    border-color: #c3c3c3;
    border-width: 2px;
  }
}
#order_prescriptions .form-line{
  margin-bottom: 30px;
  .prescription-name{
    color: #555;
    font-weight: 700;
  }
  .prescription-desc{
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
  }
 
  .prescription-inputs{
    width: 100%;
  }
  .prescription-inputs-half{
    width: calc(100% - 200px);
  }
  .prescription-image{
    width: 170px;
    margin-right: 30px;
    img{
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }
  .form-checkbox {
    width: initial; 
    margin-right: 20px;
    margin-bottom: 10px;
    img{
      display: block;
      max-width: 50px;
      margin: 0 auto 10px;
    }
    input{
      width: 100%;
      margin-bottom: 10px;
    }
    label{
      width: 100%;
    }
  }  
}
textarea{
  resize: none !important;
}
.btn-small {
  padding: 12px 25px;
}
.button-submit .btn{
  padding: 20px 80px;
}
.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: $half_dark;
}
.select2-container--default .select2-selection--single, .select2-dropdown, .select2-container--default .select2-search--dropdown .select2-search__field{
  color: $half_dark;
  border-color: #e9e9e9;
}

.checkout-branch-left{
  width: 235px;
  margin-right: 30px;
}
.checkout-branch-logo{
  width: 235px;
  height: 235px;
  background-size: 100%;
}
.checkout-branch-right{
  width: calc(100% - 265px);
}
.checkout-branch-info{
  width: 100%;
  padding-left: 30px;
}
.checkout-branch-infoLeft{
  width: calc(100% - 300px);
}
.checkout-branch-infoRigth{
  width: 290px;
  justify-content: flex-end;
}
.checkout-branch-infoRating{
  padding: 15px 20px 10px;
  background-color: #ed7e48;
  color: #fff;
  font-size: 18px;
  text-align: center;
  span{
    display: block;
    font-size: 24px;
  }
}
.checkout-branch-infoReviews{
  margin-right: 20px;
  margin-top: 15px;
  text-align: right;
  font-size: 14px;
  color: $btn;
  text-transform: uppercase;
}
.checkout-branch-infoStars{
  width: 125px;
  height: 22px;
  background-image: url('/img/ratings.png');
  background-position: 0 0;
  margin-bottom: 15px;
}
.checkout-branch-infoStars1{
  background-position: 0 -22px;
}
.checkout-branch-infoStars2{
  background-position: 0 -44px;
}
.checkout-branch-infoStars3{
  background-position: 0 -66px;
}
.checkout-branch-infoStars4{
  background-position: 0 -88px;
}
.checkout-branch-infoStars5{
  background-position: 0 -110px;
}
.checkout-branch-infoName{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 24px;
}
.checkout-branch-icons{
  width: 100%;
  margin: 20px auto 0;
}
.checkout-branch-icon{
  width: 100%;
  margin-bottom: 10px;
  padding-left: 45px;
  background-position: 0 0;
  color: #404040;
}
.checkout-branch-verified{
  background-image: url('/img/verified.png');
}
.checkout-branch-email{
  background-image: url('/img/email.png');
  background-position: 0 4px;
}
.checkout-branch-phone{
  background-image: url('/img/phone.png');
  background-position: 0 1px;
}
.checkout-branch-location{
  background-image: url('/img/address.png');
}
.order-file-line{
  position: relative;
  margin-bottom: 10px;
  .order-file-name{
     position: relative;    
  }
  .order-file-remove{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff6666;
    border-radius: 3px;
    cursor: pointer;
    z-index: 3;
    &:hover{
      background-color: #fb2626;
    }
    div{
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(45deg) translate(-4px, 3px);
        cursor: pointer;
      }
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        transform: rotate(45deg) translate(-4px, -4px);
        cursor: pointer;
      }
    }
  }
  input{
    display: none;
  }
}
.order-file-icon{
  width: 70px;
  height: 90px;
  border: 2px solid #6d6e70;
  margin-right: 15px;
  margin-bottom: 15px;
  &:hover{
    border: 2px solid $btn;
  }
  div{
    width: 100%;
    height: 100%;
    a{
      width: 100%;
      height: 100%;      
      color: #6d6e70;
      font-weight: 700;
      &:hover{
        color: $btn;
      }
    }
  }
}
.delete-order-prescription{
  position: absolute;
  right: 20px;
  padding: 8px 12px;
  font-size: 13px;
}
.order-add-prescription{
  text-align: right;
}
.order-prescription-selects{
  margin-top: 30px;
}
.order-prescription-img{
  width: 310px;
  position: relative;
  padding: 5px;
}
.order-prescription-services{
  width: calc(100% - 360px);
}
.order-prescription-service {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  .delete-order-prescription{
    width: 66px;
    position: static;
  }
}
.order-prescription-name{
  width: calc(100% - 180px);
  position: relative;
  opacity: 0.75;
  cursor: pointer;
  *{
    cursor: pointer;
  }
  &:hover{
    opacity: 1;
  }
  .order-prescription-check { 
    position: relative;  
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    &:after{
      display: none;
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 7px;
      height: 7px;
      background-color: $btn;
    }
  }
} 
.prescription-selecteds-options{
  width: 100%;
  margin-top: 10px;
  opacity: 0.75
}
.order-prescription-options-act{
  opacity: 1;
}
.prescription-selecteds-text{
  opacity: 0.75;
  span{
    font-weight: 700;
  }
}
.order-prescription-text-act{
  opacity: 1;
}
.order-option-check { 
  font-weight: 700;
  position: relative;  
  padding-left: 25px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }
}
.order-option-checkAct{
  &:after{
    content: '';
    position: absolute;
    top: 8px;
    left: 7px;
    width: 7px;
    height: 7px;
    background-color: $btn;
    cursor: pointer;
  }
}
.order-prescription-name-act{
  opacity: 1;
  .order-prescription-check {
    &:after{
      display: block;
    }
  }
}
.order-prescription-scroll{
    width: 96px;
    color: #0eb1c4;
    border-bottom: 1px dotted;
    cursor: pointer;
    &:hover{
      color: #00636f;
    }
}
.prescription-selecteds{
  height: 1px;
  padding: 0;
  opacity: 0;
}
.order-prescription-color{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}
#numbering_system_mask{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.tooth-item{
  cursor: pointer;
}
.order-prescription-total{
  margin-top: 20px;
  text-align: right;
  font-weight: 700;
  span{
    font-size: 20px;
  }
}
.prescription-tutorial-link{
    position: relative;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    z-index: 3;
    cursor: pointer;
    &:hover {
      color: $btn;
    }
}
.prescription-line-help{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 7px;
    margin-left: 5px;
    color: #eb3737;
    opacity: 0.85;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
}
.prescription-line-question{
  margin-bottom: 15px;
  width: 100%;
}
.popup-content{
  #order_prescriptions{
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .panel{
    padding: 25px;
  }
  .btn{
    padding: 10px 25px;
  }
  .btn-small{
    padding: 8px 20px;
  }
  .button-submit .btn {
      padding: 10px 25px;
  }
  .order-prescription-img, .checkout-branch-left{
    margin: 0 auto 25px;
  }
  #order_prescriptions .form-line .form-checkbox, .order-prescription-services, .checkout-branch-left, .checkout-branch-right, .order-prescription-nam, #order_prescriptions .form-line .prescription-inputs-half{
    width: 100%;
  }
  #order_prescriptions .form-line .prescription-image{
    width: 100%;
    margin: 0 auto 20px;
  }
  .checkout-branch-info{
    padding-left: 0;
  }
  .checkout-branch-icon{
    padding-left: 0;
    background-image: none;
  }
  .checkout-branch-logo{
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .delete-order-prescription{
    padding: 6px 8px;
  }
} 