@mixin box_shadow($val) {  
  -webkit-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
@mixin transform($val) {  
  -webkit-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  -moz-transform: $val;
  transform: $val;
}
@mixin transition($val) {  
  -webkit-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

$dark: #303139;
$btn: #0eb1c4;
$btn_hover: #303139;
$btn_primary: #f5b303;
$btn_primary_hover: #303139;

.main-top {
	width: 100%;
	height: 483px;
	background-image: url('/img/main_top_bg.jpg');
	> div {
		height: 100%;
	}
}
.main-top-head{
	margin: 40px 0;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
}
.main-top-left{
	width: 50%;
}
.main-top-right{
	flex-direction: column;
	width: 50%;
	height: 100%;
	text-align: center;
}
.main-top-content .btn{
	padding: 25px 60px 25px 85px;
	background-image: url('/img/dental1.png');
	background-position: 35px center;
}
.main-top-content .btn-primary{
	margin-top: 40px;
	background-image: url('/img/dental2.png');
}
.main-introtext{
	padding: 70px 0;
}
.main-introtext-text{
	width: 100%;
	max-width: 940px;
	margin: 0 auto 50px;
	text-align: center;
	font-size: 24px;
}
.main-introtext-link{
	text-align: center;
}
.main-counters{
	width: 100%;
}
.main-counters-head{
	width: 100%;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 26px;
	font-weight: 700;
}
.main-counters-head:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 165px;
	height: 3px;
	background-color: $btn_primary;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.main-counters-items{
	width: 100%;
	margin-bottom: 60px;
}
.main-counters-item{
	width: 360px;
	padding: 30px;
	background-color: #fff;
	@include box-shadow(0 5px 15px 0 rgba(0,0,0,0.3));
	text-align: center;
}
.main-counters-itemImg{
	width: 100%;
	height: 125px;
	position: relative;
	margin-bottom: 20px;
	padding-left: 205px;			
	color: $btn;
	font-size: 38px;
	font-weight: 700;
	text-align: left;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 175px;		
		height: 120px;		
		background-position: center center;
		background-repeat: no-repeat;
	}	
}

.main-counters-item1{
	.main-counters-itemImg {
		&:after{
			background-image: url('/img/rezult-1.jpg');
		}
	}
}
.main-counters-item2{
	.main-counters-itemImg {
		&:after{
			background-image: url('/img/rezult-2.jpg');
		}
	}
}
.main-counters-item3{
	.main-counters-itemImg {
		&:after{
			background-image: url('/img/rezult-3.jpg');
		}
	}
}
.main-counters-itemTitle{
	font-size: 24px;
}
@media screen and (max-width: 1200px) {
	.main-counters-item{
		width: 320px;
	}
}
@media screen and (max-width: 1024px) {

	.page-content {
		min-height: 100px;
	}
	.logo-tagline {
		display: none;
	}
	.main-top-head {
		margin: 20px 0;
		font-size: 20px;
	}
	.main-top {
		height: 435px;
	}
	.main-top-content {
		.btn {
		  padding: 16px 40px 16px 65px;
		  font-size: 14px;
		}
	}
	.main-introtext {
	  	padding: 45px 0;
	}
	.main-introtext-text {
		margin: 0 auto 35px;
		font-size: 20px;
	}
	.main-counters-items{
		margin-bottom: 0;
	}
	.main-counters-item {
	    width: 100%;
	    margin: 0 auto 25px;
	    padding: 15px;
	}
	.main-counters-itemImg{
		justify-content: center;
		height: 35px;
		padding-left: 0;
		&:after{
			display: none;
		}
	}
}
@media screen and (max-width: 768px) {
	.main-top {
		height: initial;
	    background-size: cover;
	    padding: 20px 0;
	    text-align: center;
		> .fx{
			flex-direction: column-reverse;
		}
	}
	.main-top-left{
		width: 100%;
	}
	.main-top-right{
		width: 100%;
	}
	.main-top-content{
		margin-bottom: 15px;
		.btn{
			display: block;
		}
		.btn-primary {
			margin-top: 15px;
		}
	} 
	.main-introtext-text{
		font-size: 16px;
	}
}
@media screen and (max-width: 600px) {	
	.main-introtext .btn{
		padding: 10px 35px;
		font-size: 14px;
	}
	.main-counters-itemTitle {
	    font-size: 20px;
	}
	.main-counters-head{
		font-size: 22px;
	}
}