@mixin box_shadow($val) {  
  -webkit-box-shadow: $val;
  -ms-box-shadow: $val;
  -o-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
@mixin transform($val) {  
  -webkit-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  -moz-transform: $val;
  transform: $val;
}
@mixin transition($val) {  
  -webkit-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

$dark: #303139;
$half_dark: #717177;
$border: #e4e4e4;
$btn: #0eb1c4;
$btn_hover: #303139;
$btn_primary: #f5b303;
$btn_primary_hover: #303139;

.registration-types, .registration-socials, .registration-form{
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}
.registration-socials, .registration-social-items, .registration-form, .registration-terms, .registration-login, .registration-form #submit{
  margin-top: 40px;
}
.registration-types{
  font-size: 32px;
  font-weight: 700;
  a {
    display: inline-block;
    margin: 0 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;
    color: $dark;
    &:hover{
      color: $dark;
      text-decoration: none;
      border-color: $btn_primary
    }
  }
  a.registration-type-active{
    color: $dark;
    text-decoration: none;
    border-color: $btn_primary
  }
}
.registration-socials{
  font-size: 24px;
}
.registration-social-items{
  justify-content: center;
}
.registration-social-item{
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin: 0 12px;
  color: #fff;
  font-weight: 700;
  font-size: 33px;
  cursor: pointer;
  &:hover{
    background-color: $dark !important;
  }
}
.registration-social-item.registration-social-ggl{
  background-color: #dd4b39;  
}
.registration-social-item.registration-social-fcb{
  background-color: #3b5998;
}
.registration-separator{
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b7b7b7;
  margin: 60px 0;
}
.registration-separator span{
  position: absolute;
  display: inline-block;
  padding: 5px 50px;
  background-color: #fff;
  @include transform(translate(-50%, -50%));
}
#file_psev_input{
  background-image: url('/img/download.png');
  background-position: 98% 50%;
  background-repeat: no-repeat; 
  background-color: transparent;
  border-color: transparent;
  span{
    display: block;
    width: 100%;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
  }
}
.form-checkbox {
  width: 100%;  
  max-width: 555px;
  margin: 0 auto 10px;
  position: relative;
  top: 5px;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  &:hover{
    color: $dark;
  }
  label{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin: 2px;
    cursor: pointer;
  }  
  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -999999px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    & + label {    
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid $border;
        border-radius: 1px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 9px;
        height: 9px;
        background-color: $btn;
        opacity: 0;
      }
    }
    &:checked + label {
      &:before {
        opacity: 1;  
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .registration-socials {
      font-size: 20px;
  }
  .registration-social-item {
      width: 48px;
      height: 48px;
      font-size: 28px;
  }
  .registration-socials, .registration-social-items, .registration-form, .registration-terms, .registration-login, .registration-form #submit{
      margin-top: 25px;
  }
  .registration-separator{
    margin: 45px 0;
  }
  .registration-types {
      font-size: 20px;
  }
  .registration-types a {
      margin: 0 8px;
      padding-bottom: 5px;
  }
}