#order_reviews_block{
  .btn-small{
    padding: 8px 20px;
    font-size: 14px;
  }
  .btn-danger{
    padding: 6px 15px;
    font-size: 10px;
  }
  .order-new-review{
    .btn-danger{
      padding: 8px 20px;
    font-size: 14px;
    }
  }
}

.order-review-line{
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0 0;
  border-top: 1px solid #e9e9e9;
  &:first-child{
    border-top: none;
  }
  &:last-child{
    border-bottom: none;
  }
  .form-input{
    padding: 15px;
    margin-bottom: 0;
    border-radius: 2px;
  }
}
.order-review-left{
  width: 100px;
  height: 100px;
  margin-right: 15px;
  .order-review-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.order-review-right{
  position: relative;
  width: calc(100% - 115px);
  .review-rating-stars, .order-review-rating{
    margin: 0 0 0 15px;
  }
}
.order-review-top{
  margin-bottom: 15px;
}
.order-review-user{
  border-right: 1px solid #878682;
  padding-right: 30px;
  font-weight: bold;
}
.order-review-date{
  padding: 0 15px;
  color: #878682;
  border-right: 1px solid #878682;
}
.order-review-rating{
  width: 125px;
  height: 22px;
  background-image: url('/img/ratings.png');
  background-position: 0 0;
  margin-bottom: 15px;
}
.order-review-rating1{
  background-position: 0 -22px;
}
.order-review-rating2{
  background-position: 0 -44px;
}
.order-review-rating3{
  background-position: 0 -66px;
}
.order-review-rating4{
  background-position: 0 -88px;
}
.order-review-rating5{
  background-position: 0 -110px;
}
.order-review-center {
    color: #000;
    font-size: 18px;
}
.order-review-bottom{
  margin-top: 10px;
}
.order-review-comments{
  width: 100%;
  margin-top: 15px;
  padding-left: 115px;
}
.order-review-comment-line{
  width: 100%;
  margin-bottom: 25px;
  padding: 20px 0 0;
  border-bottom: 1px solid #e9e9e9;
  &:first-child{
    border-top: 1px solid #e9e9e9;
  }
  &:last-child{
    border-bottom: none;
  }
  .order-review-date{
    border-right: none;
  }
}
.order-review-edited{
  font-size: 12px;
  color: #878682;
}
.order-review-add{
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: right;
}
.order-review-btns{
  color: red;
}
.tooltip-block{
  position: absolute;
  top: 0;
  right: 0;
}
.tooltip-icon{
    display: inline-block;
    position: relative;
    width: 6px;
    height: 16px;
    top: 0;
    border-radius: 0;
    border: none;
    padding: 0;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.75;
    cursor: pointer;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid #6b6a6a;
    }
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid #6b6a6a;
    }
    &:hover{
      opacity: 1;
      &:before, &:after{
        border-color: #0eb1c4;
      }
    }
}
.content-tooltip{
    display: none;
    position: absolute;
    top: 10px;
    right: unset;
    left: -225px;
    width: 220px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    text-align: left;
    font-size: 12px;
    text-align: left;
    div{
      margin: 5px 0;
      color: #0eb1c4;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
}
.order-review-edit {
    border-color: transparent;
    background-color: #fff;
    &:disabled{
      background-color: #fff;
    }
}
@media screen and (max-width: 768px) {
  .order-review-left {
    width: 76px;
    height: 75px;
  }
  .order-review-right {
      width: calc(100% - 91px);
  }
  .order-review-comments {
      padding-left: 75px;
  }
  .order-review-center{
    font-size: 14px;
  }
  .order-review-btns{
    font-size: 12px;
  }
  .order-review-top{
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .order-review-comments{
    padding-left: 0;
  }
  .branch-prices-priceLine{
    font-size: 14px;
  }
}