body {
  background-image: url("/img/account_page_bg.jpg");
}

.wrapper {
  position: relative;
}

header {
  padding-left: 50px;
  padding-right: 50px;
}

aside {
  position: absolute;
  top: 96px;
  left: 0;
  background-color: #fff;
  height: calc(100% - 182px);
  -ms-box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.75);
  -o-box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.75);
}

.input-error {
  border-color: red !important;
}

.account-menu {
  position: relative;
  width: 328px;
  padding: 30px 60px 30px 30px;
  transition: width 0.5s;
}

.account-menu-control {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.75;
  cursor: pointer;
}

.account-menu-control span {
  display: block;
  width: 100%;
  height: 4px;
  margin: 4px 0;
  background-color: #1d1d1d;
  cursor: pointer;
  transition: all 0.3s;
}

.account-menu-control:hover {
  opacity: 1;
}

.account-menu-content a {
  display: block;
  position: relative;
  width: 100%;
  height: 22px;
  min-width: 30px;
  margin-bottom: 20px;
  padding-left: 50px;
  text-transform: uppercase;
  color: #1f1d1d;
  transition: all 0.2s;
}

.account-menu-content a:hover {
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.8);
}

.account-menu-content a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("/img/account-icons.png");
  background-repeat: no-repeat;
}

.account-menu-content .account-item-active {
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.8);
}

.account-menu-content .left-banners {
  margin-top: 45px;
  margin-bottom: 15px;
}

.account-menu-content .left-banners .left-banner {
  width: 90%;
  margin-bottom: 15px;
}

.account-menu-content .left-banners .left-banner a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin-bottom: 0;
}

.account-menu-content .left-banners .left-banner a:after {
  display: none;
}

.account-menu-content .left-banners .left-banner img {
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
  -ms-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.2);
  -o-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.2);
  box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.2);
}

.account-menu-content .left-banners .left-banner img:hover {
  -ms-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.5);
  -o-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.5);
  box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.5);
}

.account-settings-orders:after {
  background-position: 0 0;
}

.account-settings-prices:after {
  background-position: -30px 0;
}

.account-settings-portfolios:after {
  background-position: -58px 0;
}

.account-settings-reviews:after {
  background-position: 0 -30px;
}

.account-settings-branches:after {
  background-position: -30px -30px;
}

.account-settings-mylabs:after {
  background-position: -141px 0px;
}

.account-settings-invoices:after {
  background-position: -112px -30px;
}

.account-settings-reports:after {
  background-position: -140px -30px;
}

.account-settings-settings:after {
  background-position: -58px -30px;
}

.account-settings-dashbord:after {
  background-position: -85px 0;
}

.account-settings-catalog:after {
  background-position: -112px 0;
}

.account-settings-staff:after {
  background-position: -168px 0;
}

.account-settings-clients:after {
  background-position: -85px -30px;
}

.account-settings-tickets:after {
  background-position: -166px -30px;
}

.account-menu-cl {
  width: 80px;
  padding: 30px 25px;
}

.account-menu-cl .account-menu-control {
  right: -8px;
}

.account-menu-cl .account-menu-control span:first-child {
  width: 44%;
  margin-left: auto;
  transform: rotate(45deg) translate(5px, 1px);
}

.account-menu-cl .account-menu-control span:last-child {
  width: 44%;
  margin-left: auto;
  transform: rotate(-45deg) translate(5px, -1px);
}

.account-menu-cl .account-menu-content a {
  width: 30px;
  height: 22px;
  font-size: 0;
  padding-left: 0;
}

.account-menu-cl .left-banners {
  display: none;
}

section {
  width: 100%;
  min-height: calc(100vh - 182px);
  padding-top: 10px;
  padding-left: 368px;
  padding-right: 30px;
  padding-bottom: 50px;
  transition: padding 0.5s;
}

.footer-banners {
  width: 100%;
  padding-top: 10px;
  padding-left: 368px;
  padding-right: 30px;
}

.section-menu-cl {
  padding-left: 110px;
}

.breadcrumbs .content {
  max-width: 100%;
  padding: 0;
}

.panel {
  position: relative;
  width: 96%;
  margin: 0 2% 30px;
  background-color: white;
  padding: 30px 50px;
  -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.panel-half {
  width: 46%;
}

.panel-head-collapse {
  cursor: pointer;
  position: relative;
}

.panel-head-collapse:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #7d7d7d transparent;
}

.panel-head-collapse:hover {
  color: #303139;
}

.panel-head-collapse:hover:after {
  border-color: transparent transparent #303139 transparent;
}

.panel-head-collapsed {
  margin-bottom: 0;
}

.panel-head-collapsed:after {
  border-width: 15px 10px 0 10px;
  border-color: #7d7d7d transparent transparent transparent;
}

.panel-head-collapsed:hover {
  color: #303139;
}

.panel-head-collapsed:hover:after {
  border-color: #303139 transparent transparent transparent;
}

.panel-block-collapsed {
  display: none;
}

.panel-transparent {
  background-color: transparent;
  box-shadow: none;
  text-align: left;
  padding: 10px 0;
}

.panel-buttons {
  text-align: right;
}

.panel-head {
  margin-bottom: 30px;
  font-size: 30px;
  color: #555;
  font-weight: 700;
}

.panel-intro {
  margin-bottom: 10px;
  font-size: 13px;
}

.panel-filters {
  margin-bottom: 25px;
}

#show_filter_block {
  position: relative;
  padding: 15px 70px 15px 60px;
}

#show_filter_block:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 8px 4px;
  border-color: transparent transparent #ffffff transparent;
}

#show_filter_block.show-filter-close:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}

.panel-table {
  padding: 0 0 20px 0;
  border-radius: 25px;
}

.panel-table p {
  padding: 20px;
}

.tc {
  text-align: center;
}

.tb {
  color: #0eb1c4;
}

.tbp {
  color: #f5b303;
}

button,
input,
textarea,
select,
.form-input {
  max-width: 100%;
  margin-bottom: 15px;
}

.form-input-required {
  border-color: #c3c3c3;
  border-width: 2px;
}

.form-input-required .select2-container--default .select2-selection--single,
.form-input-required .select2-dropdown,
.form-input-required .select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #c3c3c3;
  border-width: 2px;
}

label {
  font-weight: 700;
  color: #303139;
}

.form-checkbox {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  font-size: 12px;
  cursor: pointer;
}

.form-checkbox:hover {
  color: #303139;
}

.form-checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin: 2px;
  cursor: pointer;
}

.form-checkbox input[type=checkbox],
.form-checkbox input[type=radio] {
  position: absolute;
  left: -999999px;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.form-checkbox input[type=checkbox] + label:after,
.form-checkbox input[type=radio] + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
}

.form-checkbox input[type=checkbox] + label:before,
.form-checkbox input[type=radio] + label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background-color: #0eb1c4;
  opacity: 0;
}

.form-checkbox input[type=checkbox]:checked + label:before,
.form-checkbox input[type=radio]:checked + label:before {
  opacity: 1;
}

textarea {
  resize: none !important;
}

.btn-small {
  padding: 12px 25px;
}

.btn-green {
  background-color: #009800;
}

.btn-green:hover {
  background-color: #303139;
}

.button-submit .btn {
  padding: 20px 80px;
}

.setting-logo-line {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1;
}

.company-logo {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-size: 60%;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  background-size: cover;
}

#file_psev_input,
#file_psev_input2 {
  position: relative;
  padding-right: 33px;
  color: #0eb1c4;
  cursor: pointer;
}

#file_psev_input span,
#file_psev_input2 span {
  display: block;
  max-width: 145px;
  overflow: hidden;
  cursor: pointer;
}

#file_psev_input:hover,
#file_psev_input2:hover {
  text-decoration: underline;
}

#file_psev_input:after,
#file_psev_input2:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  width: 23px;
  height: 23px;
  background-image: url("/img/download.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.company-logo-title {
  font-weight: 700;
  color: #303139;
}

.account-list-head {
  font-size: 15px;
}

.account-list-notice {
  padding: 0 10px;
}

.account-list-table .account-list-cell:last-child {
  position: relative;
}

.account-list-table2 .account-list-cell {
  padding: 10px;
}

.account-list-table2 .account-list-cell:first-child {
  width: 80%;
}

.account-list-table2 .account-list-cell:last-child {
  width: 20%;
  text-align: center;
}

.account-list-table3 .account-list-cell {
  padding: 10px;
}

.account-list-table3 .account-list-cell:first-child {
  width: 55%;
}

.account-list-table3 .account-list-cell:nth-child(2) {
  width: 25%;
  text-align: center;
}

.account-list-table3 .account-list-cell:last-child {
  width: 20%;
  text-align: center;
}

.account-reviews-table .account-list-cell {
  padding: 10px;
}

.account-reviews-table .account-list-cell:first-child {
  width: 10%;
}

.account-reviews-table .account-list-cell:nth-child(2) {
  width: 65%;
  text-align: center;
}

.account-reviews-table .account-list-cell:last-child {
  width: 25%;
  text-align: center;
}

.account-list-table4 .account-list-cell {
  padding: 10px;
}

.account-list-table4 .account-list-cell:first-child {
  width: 55%;
}

.account-list-table4 .account-list-cell:nth-child(2) {
  width: 15%;
  text-align: center;
}

.account-list-table4 .account-list-cell:nth-child(3) {
  width: 10%;
  text-align: center;
}

.account-list-table4 .account-list-cell:last-child {
  width: 20%;
  text-align: center;
}

.account-list-table5 .account-list-cell {
  padding: 10px;
}

.account-list-table5 .account-list-cell .company-logo {
  width: 50px;
  height: 50px;
}

.account-list-table5 .account-list-cell:first-child {
  width: 30%;
}

.account-list-table5 .account-list-cell:nth-child(2) {
  width: 25%;
  text-align: center;
}

.account-list-table5 .account-list-cell:nth-child(3) {
  width: 15%;
  text-align: center;
}

.account-list-table5 .account-list-cell:nth-child(4) {
  width: 10%;
  text-align: center;
}

.account-list-table5 .account-list-cell:last-child {
  width: 20%;
  text-align: center;
}

.account-list-table6 .account-list-cell {
  padding: 10px;
}

.account-list-table6 .account-list-cell .company-logo {
  width: 50px;
  height: 50px;
}

.account-list-table6 .account-list-cell:first-child {
  width: 29%;
}

.account-list-table6 .account-list-cell:nth-child(2) {
  width: 15%;
  text-align: center;
}

.account-list-table6 .account-list-cell:nth-child(3) {
  width: 12%;
  text-align: center;
}

.account-list-table6 .account-list-cell:nth-child(4) {
  width: 12%;
  text-align: center;
}

.account-list-table6 .account-list-cell:nth-child(5) {
  width: 12%;
  text-align: center;
}

.account-list-table6 .account-list-cell:last-child {
  width: 20%;
  text-align: center;
}

.account-list-table7 .account-list-cell {
  padding: 10px;
}

.account-list-table7 .account-list-cell:first-child {
  width: 20%;
}

.account-list-table7 .account-list-cell:nth-child(2) {
  width: 12%;
  text-align: center;
}

.account-list-table7 .account-list-cell:nth-child(3) {
  width: 12%;
  text-align: center;
}

.account-list-table7 .account-list-cell:nth-child(4) {
  width: 12%;
  text-align: center;
}

.account-list-table7 .account-list-cell:nth-child(5) {
  width: 12%;
  text-align: center;
}

.account-list-table7 .account-list-cell:nth-child(6) {
  width: 12%;
  text-align: center;
}

.account-list-table7 .account-list-cell:last-child {
  width: 20%;
  text-align: center;
}

.account-order-table .account-list-cell {
  padding: 10px;
}

.account-order-table .account-list-cell:first-child {
  width: 12%;
  font-weight: 700;
}

.account-order-table .account-list-cell:nth-child(2) {
  width: 7%;
  text-align: center;
}

.account-order-table .account-list-cell:nth-child(3) {
  width: 14%;
  text-align: center;
}

.account-order-table .account-list-cell:nth-child(4) {
  width: 12%;
  text-align: center;
}

.account-order-table .account-list-cell:nth-child(5) {
  width: 12%;
  text-align: center;
}

.account-order-table .account-list-cell:nth-child(6) {
  width: 12%;
  text-align: center;
}

.account-order-table .account-list-cell:nth-child(7) {
  width: 10%;
  text-align: center;
}

.account-order-table .account-list-cell:nth-child(7) .delivery-history-name {
  font-size: 10px;
}

.account-order-table .account-list-cell:nth-child(7) .delivery-history-arrow {
  width: 15px;
  height: 10px;
  margin: auto;
  background-size: 100%;
}

.account-order-table .account-list-cell:nth-child(7) .delivery-history-left {
  background-image: url("/img/left_arr.png");
}

.account-order-table .account-list-cell:nth-child(7) .delivery-history-right {
  background-image: url("/img/right_arr.png");
}

.account-order-table .account-list-cell:nth-child(8) {
  width: 10%;
  text-align: center;
}

.account-order-table .account-list-cell:last-child {
  width: 10%;
  text-align: center;
}

.account-order-table .account-list-cell .btn {
  padding: 7px 10px;
  font-size: 12px;
  width: 100%;
  max-width: 68px;
}

.account-table-chat {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 25px;
  height: 25px;
  background-image: url("/img/newchat.png");
}

.account-table-progress {
  position: relative;
  width: 77px;
  height: 10px;
  border: 1px solid #e5e5e5;
  background-image: url("/img/colorline.jpg");
}

.account-table-progress span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  background-color: #fff;
}

.account-table-progress1 span {
  width: 76%;
}

.account-table-progress2 span {
  width: 51%;
}

.account-table-progress3 span {
  width: 26%;
}

.account-table-progress4 span {
  width: 0;
}

.account-table-status {
  width: 35px;
  margin: auto;
  position: relative;
}

.account-table-status img {
  border-radius: 50%;
}

.account-table-status span {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 2px 6px;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 11px;
}

.account-list-tableServices .account-list-cell:last-child {
  text-align: left;
}

.account-list-head {
  font-weight: 700;
  background-color: #E4E4E4;
  border-bottom: 2px solid #e4e4e4;
  border-radius: 25px 25px 0 0;
}

.account-list-lineRed {
  background-color: #ffbcbc;
}

.account-list-content .account-list-line {
  border-bottom: 1px solid #e4e4e4;
  font-size: 13px;
}

.account-list-content .account-list-line:last-child {
  border-color: transparent;
}

.account-list-content .account-list-headline {
  font-size: 16px;
  color: #000;
}

.account-list-content .ap10 {
  padding-left: 10px;
}

.account-list-content .ap20 {
  padding-left: 20px;
}

.account-list-content .ap30 {
  padding-left: 30px;
}

.account-list-content .form-input {
  padding: 10px;
  font-size: 13px;
}

.account-invoices-table .account-list-cell {
  padding: 10px;
}

.account-invoices-table .account-list-cell:first-child {
  width: 5%;
  font-weight: 700;
}

.account-invoices-table .account-list-cell:first-child .form-checkbox {
  top: -3px;
}

.account-invoices-table .account-list-cell:first-child .form-checkbox input[type=checkbox] + label {
  width: 15px;
  margin: auto;
}

.account-invoices-table .account-list-cell:first-child .form-checkbox input[type=checkbox] + label:after {
  border: 1px solid #303139;
}

.account-invoices-table .account-list-cell:first-child .form-checkbox input[type=checkbox]:checked + label:before {
  opacity: 0;
}

.account-invoices-table .account-list-cell:first-child .form-checkbox input[type=checkbox]:checked + label.show-check-pseudo:before {
  opacity: 1;
}

.account-invoices-table .account-list-cell:nth-child(2) {
  width: 10%;
  text-align: left;
}

.account-invoices-table .account-list-cell:nth-child(3) {
  width: 10%;
  text-align: center;
}

.account-invoices-table .account-list-cell:nth-child(4) {
  width: 15%;
  text-align: center;
}

.account-invoices-table .account-list-cell:nth-child(5) {
  width: 15%;
  text-align: center;
}

.account-invoices-table .account-list-cell:nth-child(6) {
  width: 15%;
  text-align: center;
}

.account-invoices-table .account-list-cell:nth-child(7) {
  width: 15%;
  text-align: center;
}

.account-invoices-table .account-list-cell:last-child {
  width: 15%;
  text-align: center;
}

.account-invoices-table .account-list-cell .btn {
  padding: 8px 12px;
  font-size: 14px;
}

.panel-table-controls {
  padding: 0;
  background-color: transparent;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-align: right;
}

.account-long-list {
  max-height: 600px;
  overflow-y: auto;
  padding: 15px;
}

.account-images-line {
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}

.account-images-lineHead {
  font-weight: 400;
  font-size: 18px;
  color: #717177;
}

.account-images-lineImages {
  padding: 10px;
}

.account-images-lineAdd,
.account-images-lineImage {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 5px 15px;
  border: 2px dashed #0eb1c4;
  border-radius: 5px;
}

.account-images-lineImageL:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
}

.account-images-lineImage img {
  width: 100%;
  max-width: 132px;
  height: auto;
  max-height: 132px;
  margin: auto;
}

.account-images-lineRemove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ff6666;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
}

.account-images-lineRemove:hover {
  background-color: #fb2626;
}

.account-images-lineRemove:hover * {
  cursor: pointer;
}

.account-images-lineRemove div {
  position: relative;
  width: 100%;
  height: 100%;
}

.account-images-lineRemove div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg) translate(-4px, 3px);
}

.account-images-lineRemove div:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg) translate(-4px, -4px);
}

.account-images-lineAdd {
  opacity: 0.55;
  cursor: pointer;
}

.account-images-lineAdd input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.account-images-lineAdd:hover {
  opacity: 1;
}

.account-images-lineAdd:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 3px;
  background-color: #0eb1c4;
  border-radius: 40%;
  transform: translate(-50%, -1px);
}

.account-images-lineAdd:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 35px;
  background-color: #0eb1c4;
  border-radius: 40%;
  transform: translate(-2px, -50%);
}

#company_upgrade {
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#company_upgrade .btn {
  padding: 20px 75px;
  font-size: 18px;
}

#company_upgrade span {
  margin: 15px 0;
  font-size: 18px;
}

.cancel-company-line {
  margin-bottom: 15px;
  text-align: center;
}

.cancel-company-line p {
  margin-bottom: 15px;
}

.form-filter {
  width: 275px;
  margin: 0 5px 10px;
}

.form-filter .btn {
  padding: 12px 25px;
  font-size: 16px;
}

.form-filter .form-input {
  padding: 12px 12px 12px 20px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  margin-bottom: 0;
}

.form-filter .form-input::-webkit-input-placeholder {
  color: #555;
}

.form-filter .form-input:-moz-placeholder {
  color: #555;
}

.form-filter .form-input::-moz-placeholder {
  color: #555;
}

.form-filter .form-input:-ms-input-placeholder {
  color: #555;
}

.form-filter .select2-container {
  width: 100% !important;
}

.form-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 11px 11px 11px 20px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
}

.form-filter .select2-container--default .select2-selection--single {
  height: 44px;
}

.form-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

.filter-buttons {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}

.filter-buttons .btn {
  margin-bottom: 0;
}

.pagination-block {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
}

.pagination-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-block ul li {
  display: inline;
  padding: 3px;
  margin: 0 3px;
}

.pagination-block ul li a {
  color: #303139;
}

.pagination-block ul li a:hover {
  color: #0eb1c4;
}

.pagination-block ul li.disabled:first-child,
.pagination-block ul li.disabled:last-child {
  display: none;
}

.pagination-block ul li.active {
  color: #0eb1c4;
}

.order-editing-form .panel-half .form-line-text {
  margin-bottom: 2px;
}

.order-editing-form .panel-subhead {
  margin: 15px 0;
  font-weight: 700;
  color: #555;
}

.order-editing-form p {
  margin: 0 0 5px;
}

.order-file-line {
  position: relative;
  margin-bottom: 10px;
}

.order-file-line .order-file-name {
  position: relative;
}

.order-file-line input {
  display: none;
}

.order-file-line .order-file-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ff6666;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
}

.order-file-line .order-file-remove:hover {
  background-color: #fb2626;
}

.order-file-line .order-file-remove div {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.order-file-line .order-file-remove div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg) translate(-4px, 3px);
  cursor: pointer;
}

.order-file-line .order-file-remove div:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg) translate(-4px, -4px);
  cursor: pointer;
}

.order-file-icon {
  position: relative;
  width: 70px;
  height: 90px;
  border: 2px solid #6d6e70;
  margin-right: 15px;
  margin-bottom: 15px;
}

.order-file-icon:hover {
  border: 2px solid #0eb1c4;
}

.order-file-icon div {
  width: 100%;
  height: 100%;
}

.order-file-icon div a {
  width: 100%;
  height: 100%;
  color: #6d6e70;
  font-weight: 700;
}

.order-file-icon div a:hover {
  color: #0eb1c4;
}

.order-file-icon .order-file-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ff6666;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
}

.order-file-icon .order-file-remove:hover {
  background-color: #fb2626;
}

.order-file-icon .order-file-remove div {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.order-file-icon .order-file-remove div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg) translate(-4px, 3px);
  cursor: pointer;
}

.order-file-icon .order-file-remove div:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg) translate(-4px, -4px);
  cursor: pointer;
}

.order-prescription-block .form-line {
  margin-bottom: 30px;
}

.order-prescription-block .form-line .prescription-name {
  color: #555;
  font-weight: 700;
}

.order-prescription-block .form-line .prescription-desc {
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}

.order-prescription-block .form-line .prescription-inputs {
  width: 100%;
}

.order-prescription-block .form-line .prescription-inputs-half {
  width: calc(100% - 200px);
}

.order-prescription-block .form-line .prescription-image {
  width: 170px;
  margin-right: 30px;
}

.order-prescription-block .form-line .prescription-image img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.order-prescription-block .form-line .form-checkbox {
  width: initial;
  margin-right: 20px;
  margin-bottom: 10px;
}

.order-prescription-block .form-line .form-checkbox img {
  display: block;
  max-width: 50px;
  margin: 0 auto 10px;
}

.order-prescription-block .form-line .form-checkbox input {
  width: 100%;
  margin-bottom: 10px;
}

.order-prescription-block .form-line .form-checkbox label {
  width: 100%;
}

textarea {
  resize: none !important;
}

.panel-1quarter {
  position: relative;
  z-index: 2;
  width: 25%;
  padding-right: 30px;
}

.panel-2quarter {
  position: relative;
  z-index: 2;
  width: 50%;
  padding-right: 30px;
}

.panel-3quarter {
  position: relative;
  z-index: 2;
  width: 75%;
  padding-left: 30px;
}

.panel-1third {
  position: relative;
  z-index: 2;
  width: 33.3333%;
  padding-right: 30px;
}

.order-prescription-imgBl {
  width: 100%;
  position: relative;
}

.order-prescription-imgBl span {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 24px;
}

.order-prescription-imgBl span strong {
  display: none;
}

.order-prescription-imgBl div {
  width: 100%;
  text-align: center;
}

.order-prescription-imgBl div svg {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.selecteds-for-print {
  display: none;
}

.order-prescription-Infoblock .prescription-service-name {
  font-size: 20px;
}

.order-prescription-Infoblock .prescription-service-name label {
  width: calc(100% - 140px);
}

.order-prescription-Infoblock .form-line {
  margin-bottom: 20px;
}

.order-prescription-Infoblock label {
  max-width: initial;
  width: initial;
  margin: 0 20px 0 0;
}

.order-prescription-Infoblock .prescription-image {
  width: 25px;
  margin-right: 15px;
  height: auto;
}

.order-prescription-Infoblock .prescription-image img {
  width: 100%;
}

.order-prescription-Infoblock .prescription-inputs {
  width: 100%;
}

.order-prescription-Infoblock .prescription-inputs-half {
  width: calc(100% - 40px);
}

.order-prescription-Infoblock .form-checkbox {
  width: initial;
}

.order-prescription-Infoblock .form-checkbox img {
  width: 20px;
  height: auto;
  max-height: 30px;
  margin-right: 10px;
}

.order-icons-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.order-change-status {
  width: 250px;
}

.order-change-status .select2-container--default .select2-selection--single {
  background-color: #fff;
}

.prescription-service-price span {
  display: block;
}

.old-price {
  font-size: 0.75em;
  color: grey;
  text-decoration: line-through;
}

.price-danger {
  color: red;
}

.price-good {
  color: green;
}

.order-total-block {
  margin-left: 20px;
}

.order-total-block label {
  width: initial;
  margin-right: 5px;
}

.order-total-block input {
  width: initial;
  max-width: 120px;
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
  background-color: #fff;
}

.print-btn-block {
  text-align: right;
}

.print-btn-block .btn {
  font-size: 12px;
  padding: 15px 35px;
}

.prescription-service-price {
  text-align: right;
}

.prescription-laboratory {
  display: none;
}

.prescription-laboratory .panel-subhead {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

.prescription-laboratory .prescription-laboratory-right {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  margin-left: 30px;
}

.prescription-laboratory .prescription-laboratory-right img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 9px auto;
}

.prescription-laboratory .prescription-laboratory-left {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
}

.prescription-laboratory .prescription-laboratory-left img {
  width: 100px;
  height: 100px;
}

.prescription-laboratory .prescription-laboratory-center {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 300px);
}

.prescription-laboratory .prescription-laboratory-center .panel-subhead {
  font-size: 22px;
}

.prescription-laboratory .prescription-laboratory-center p {
  margin: 0 0 2px;
  font-size: 12px;
}

.panel-top-buttons {
  margin-bottom: 0;
  padding: 0;
}

.panel-top-buttons .button-submit .btn-small {
  margin-bottom: 0;
  padding: 10px 30px;
  font-size: 12px;
}

.order-buttons .btn-small {
  margin-bottom: 0;
  padding: 15px 40px;
  font-size: 12px;
}

.order-editing-form h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.order-top-block {
  margin-bottom: 15px;
}

.paid-background {
  position: absolute;
  top: 55px;
  right: 20px;
  z-index: 1;
  opacity: 0.15;
}

.paid-background span {
  display: block;
  padding: 15px 35px;
  border: 4px solid red;
  border-radius: 25px;
  color: red;
  font-size: 40px;
  font-weight: 700;
  transform: rotate(-15deg);
}

.payment-popup {
  width: 350px;
  text-align: left;
}

.payment-popup .panel-head {
  margin-bottom: 20px;
}

.payment-popup .panel-subhead {
  margin: 20px 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #717177;
}

.payment-popup .form-line.payment-popup-btn {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 0;
}

.payment-popup .payment-popup-total span {
  color: #303139;
}

.payment-popup .payment-popup-pay {
  font-size: 18px;
  font-weight: bold;
}

.payment-popup .payment-popup-pay span {
  color: #303139;
}

.payment-popup .payment-popup-debt span {
  color: #d40000;
  font-weight: bold;
}

.payment-popup #online_payment_form p {
  width: 100%;
  font-size: 14px;
}

.payment-popup #online_payment_form .popup-payment-line {
  width: 100%;
  margin-bottom: 5px;
}

.payment-popup #online_payment_form .popup-payment-line label {
  margin: 0 0 2px;
  font-size: 12px;
}

.payment-popup #online_payment_form .popup-payment-line input {
  width: 100%;
  margin-bottom: 0;
  border-radius: 2px;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}

.payment-popup #online_payment_form .popup-payment-half {
  width: 48%;
}

.payment-popup #service_charge_msg {
  font-size: 12px;
  color: red;
}

.invoice-print-content {
  width: 1024px;
  margin: auto;
  max-width: 100%;
  display: block;
  overflow: auto;
}

.invoice-print-content p {
  margin: 0 0 2px;
}

.invoice-print-content .invoice-to_branch-left p {
  font-size: 14px;
}

.invoice-print-content .invoice-to_branch-left p:first-child {
  font-size: 18px;
  margin: 2px 0 10px;
}

.invoice-to_branch-left {
  width: 320px;
}

.invoice-to_branch-right {
  width: 320px;
  text-align: right;
}

.invoice-invoice-head {
  font-weight: 700;
  font-size: 30px;
}

.invoice-table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.invoice-table tr:last-child {
  border-bottom: 2px solid #000;
}

.invoice-table td {
  padding: 5px 10px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  font-size: 14px;
  font-weight: 500;
}

.invoice-table thead tr {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.invoice-table thead tr td {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.invoice-table tfoot tr {
  border-bottom: 2px solid #000;
}

.invoice-full-table {
  width: 100%;
}

.invoice-short-table {
  width: 400px;
}

.invoice-short-table thead tr td {
  text-align: left;
}

.invoice-short-table td {
  width: 400px;
}

.invoice-small-table {
  margin-left: auto;
  width: 300px;
}

.invoice-small-table td {
  width: 150px;
  text-align: center;
}

.invoice-one-table {
  margin-left: auto;
  width: 150px;
}

.invoice-one-table td {
  width: 150px;
  text-align: center;
}

.invoice-table-infos {
  margin-bottom: 0;
}

.invoice-table-infos tr:last-child {
  border-bottom: none;
}

.invoice-table-infos thead tr:last-child {
  border-bottom: 2px solid #000;
}

.invoice-table-infos td {
  text-align: center;
}

.invoice-table-infos td:first-child {
  width: 130px;
}

.invoice-table-infos td:nth-child(2) {
  width: 165px;
}

.invoice-table-infos td:nth-child(3) {
  width: 60px;
}

.invoice-table-infos td:nth-child(4) {
  width: 120px;
}

.invoice-table-infos td:nth-child(5) {
  width: 95px;
}

.invoice-table-infos td:nth-child(6) {
  width: 220px;
}

.invoice-table-infos td:last-child {
  width: 230px;
}

.invoice-table-invoice thead tr td {
  text-align: center;
}

.invoice-table-invoice tr {
  border-bottom: 10px solid transparent;
}

.invoice-table-invoice td:first-child {
  width: 100px;
  text-align: right;
}

.invoice-table-invoice td:nth-child(2) {
  width: 165px;
  text-align: left;
}

.invoice-table-invoice td:nth-child(3) {
  width: 426px;
  text-align: left;
}

.invoice-table-invoice td:nth-child(4) {
  width: 165px;
  text-align: right;
}

.invoice-table-invoice td:last-child {
  width: 165px;
  text-align: right;
}

.invoice-table-invoice .invoice-prev-price {
  text-decoration: line-through;
  color: #656565;
}

.invoice-amount-price {
  font-size: 16px;
}

.invoice-not-confirmed {
  color: red;
  font-size: 12px;
}

.invoice-total-price {
  font-size: 16px;
}

.invoice-total-line strong {
  font-size: 30px;
}

.invoice-total-line .paid-background {
  top: -40px;
}

.invoice-confirm-btns {
  justify-content: flex-end;
}

.invoice-confirm-btns .btn {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 0 2px;
}

.order-comment-line {
  color: red;
}

.prescription-price-setInput {
  justify-content: flex-end;
  text-align: right;
}

.prescription-price-setInput input {
  width: 100px;
  margin: 0;
  margin-left: 3px;
  padding: 10px 10px;
  border: 1px solid #a5a5a5;
  border-radius: 2px;
  text-align: center;
  -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.panel-top-fx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 25;
  background-color: #ffF;
  -ms-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
}

.panel-top-fx .btn-small {
  padding: 12px 35px;
}

.tooltip-block {
  position: relative;
}

.tooltip-icon {
  display: inline-block;
  position: relative;
  top: -7px;
  border-radius: 50%;
  border: 1px solid;
  padding: 2px 4px;
  color: #eb3737;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.75;
  cursor: pointer;
}

.tooltip-icon:hover {
  opacity: 1;
}

.content-tooltip {
  display: none;
  position: absolute;
  top: -50%;
  right: -190px;
  width: 200px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  text-align: left;
  font-size: 12px;
  text-align: left;
  transform: translate(0, -50%);
}

.content-tooltip .tooltip-color-item {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 1px;
  border-radius: 50%;
  border: #f2f2f2;
  color: #fff;
  font-size: 8px;
  font-weight: 400;
  text-align: center;
}

.order-file-icon {
  width: 70px;
  height: 90px;
  border: 2px solid #6d6e70;
  margin-right: 15px;
  margin-bottom: 15px;
}

.order-file-icon:hover {
  border: 2px solid #0eb1c4;
}

.order-file-icon div {
  width: 100%;
  height: 100%;
}

.order-file-icon div a {
  width: 100%;
  height: 100%;
  color: #6d6e70;
  font-weight: 700;
}

.order-file-icon div a:hover {
  color: #0eb1c4;
}

.report-list {
  margin: 40px 0 30px;
  padding: 0 0 0 30px;
  list-style-type: none;
}

.report-list li {
  margin: 30px 0;
}

.report-list .report-list-item {
  padding: 20px 0 20px 45px;
  background-position: left center;
}

.report-list .report-list-item:hover {
  color: #0eb1c4;
  text-decoration: underline;
}

.statement-table-totals {
  margin-bottom: 0;
  width: 402px;
}

.statement-table-totals thead tr:last-child {
  border-bottom: 2px solid #000;
}

.statement-table-totals tr:last-child {
  border-bottom: none;
}

.statement-table-totals td {
  width: 200px;
  text-align: center;
}

.statement-table-invoices {
  margin-bottom: 0;
}

.statement-table-invoices thead tr:last-child {
  border-bottom: 2px solid #000;
}

.statement-table-invoices thead td {
  text-align: center !important;
}

.statement-table-invoices tr:last-child {
  border-bottom: none;
}

.statement-table-invoices td {
  vertical-align: top;
}

.statement-table-invoices td:first-child {
  width: 152px;
  text-align: center;
}

.statement-table-invoices td:nth-child(2) {
  width: 470px;
  text-align: left;
}

.statement-table-invoices td:nth-child(3) {
  width: 200px;
  text-align: right;
}

.statement-table-invoices td:last-child {
  width: 200px;
  text-align: right;
}

.orders-report-table {
  margin-bottom: 0;
}

.orders-report-table thead tr:last-child {
  border-bottom: 2px solid #000;
}

.orders-report-table thead td {
  text-align: center !important;
}

.orders-report-table td {
  vertical-align: top;
}

.orders-report-table td:first-child {
  width: 115px;
  text-align: center;
}

.orders-report-table td:nth-child(2) {
  width: 155px;
  text-align: center;
}

.orders-report-table td:nth-child(3) {
  width: 275px;
  text-align: left;
}

.orders-report-table td:nth-child(4) {
  width: 160px;
  text-align: center;
}

.orders-report-table td:nth-child(5) {
  width: 175px;
  text-align: center;
}

.orders-report-table td:last-child {
  width: 145px;
  text-align: right;
}

.statement-table-dates {
  margin-bottom: 0;
}

.statement-table-dates td {
  width: 200px;
  text-align: center;
}

.invoice-check-cell .form-checkbox {
  margin: 0;
}

.invoice-check-cell .form-checkbox label {
  margin: 0;
}

.invoice-check-cell span {
  width: calc(100% - 30px);
}

.review-rating-stars {
  margin: 20px 0;
}

.review-rating-stars input.review-rating-radio {
  width: 22px;
  height: 22px;
  max-width: 22px;
  margin: 5px;
  position: relative;
}

.review-rating-stars input.review-rating-radio:after {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url("/img/ratings.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #fff;
}

.review-rating-stars input.review-rating-radio:hover:after {
  background-position: 0 -22px;
}

.review-rating-stars input.review-rating-radioAct:after {
  background-position: 0 -22px;
}

#account_menu_btn {
  display: none;
}

.dashbord-setup {
  justify-content: flex-end;
  margin: 0 2%;
  padding: 0 0 10px;
}

#dashboard_setup {
  width: 100%;
  margin-bottom: 15px;
}

#dashboard_setup .form-line {
  width: initial;
  margin-right: 15px;
  margin-bottom: 0;
}

#dashboard_setup_btn {
  padding: 20px;
  background-image: url("/img/setup.png");
}

.dashboard-item {
  margin-bottom: 25px;
  padding: 20px;
}

.dashboard-item .panel-head {
  margin-bottom: 15px;
  font-size: 22px;
}

.dashboard-item .panel-content {
  max-height: 400px;
  overflow-y: auto;
}

.dashboard-item-catalog,
.dashboard-item-update {
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}

.dashboard-item-catalog p,
.dashboard-item-update p {
  margin: 0;
}

.dashboard-message-line {
  margin-bottom: 10px;
  padding: 5px;
  opacity: 0.8;
}

.dashboard-message-line:hover {
  opacity: 1;
  background-color: #f2f2f2;
}

.dashboard-message-line span {
  display: block;
}

.dashboard-message-line a {
  color: #303139;
}

.dashboard-message-line a:hover {
  color: #303139;
  text-decoration: none;
}

.dashboard-message-line .dashboard-message-name {
  font-weight: 700;
  font-size: 16px;
}

.dashboard-message-line .dashboard-message-date {
  color: #717177;
  font-size: 12px;
}

.dashboard-message-line .dashboard-message-content {
  font-size: 14px;
}

.dashboard-statuses-list .dashboard-statuses-line {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #303139;
  opacity: 0.8;
}

.dashboard-statuses-list .dashboard-statuses-line:hover {
  background-color: #f2f2f2;
  color: #303139;
  opacity: 1;
}

.dashboard-statuses-list .dashboard-statuses-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.dashboard-statuses-list .dashboard-statuses-name {
  width: calc(100% - 90px);
}

.dashboard-statuses-list .dashboard-statuses-count {
  width: 55px;
  font-weight: 700;
  text-align: right;
}

.dashboard-orders-list .dashboard-orders-line {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: #303139;
  opacity: 0.8;
}

.dashboard-orders-list .dashboard-orders-line:hover {
  background-color: #f2f2f2;
  color: #303139;
  opacity: 1;
}

.dashboard-orders-list .dashboard-orders-lineAct {
  background-color: #ffcbcb;
}

.dashboard-orders-list .dashboard-orders-lineAct:hover {
  background-color: #ffcbcb;
}

.dashboard-orders-list .dashboard-orders-id {
  width: 80px;
  font-size: 10px;
  text-align: left;
}

.dashboard-orders-list .dashboard-orders-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.dashboard-orders-list .dashboard-orders-name {
  width: calc(100% - 215px);
  font-weight: 700;
  font-size: 12px;
}

.dashboard-orders-list .dashboard-orders-date {
  width: 80px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

.dashboard-locations-list .dashboard-locations-line {
  padding: 5px 0;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
}

.dashboard-locations-list .dashboard-locations-line:hover {
  background-color: #f2f2f2;
}

.dashboard-locations-list .dashboard-locations-lineHead {
  font-weight: 700;
  font-size: 16px;
  background-color: #e4e4e4;
  border-bottom: none;
}

.dashboard-locations-list .dashboard-locations-lineHead:hover {
  background-color: #e4e4e4;
}

.dashboard-locations-list .dashboard-locations-logo {
  width: 35px;
  height: 35px;
}

.dashboard-locations-list .dashboard-locations-logo a {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 100%;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
}

.dashboard-locations-list .dashboard-locations-name {
  width: calc(100% - 700px);
  text-align: left;
}

.dashboard-locations-list .dashboard-locations-name a {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-name a:hover {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-cancelled {
  width: 80px;
  text-align: center;
  font-size: 13px;
}

.dashboard-locations-list .dashboard-locations-cancelled span {
  display: block;
}

.dashboard-locations-list .dashboard-locations-cancelled a {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-cancelled a:hover {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-procces {
  width: 80px;
  text-align: center;
  font-size: 13px;
}

.dashboard-locations-list .dashboard-locations-procces span {
  display: block;
}

.dashboard-locations-list .dashboard-locations-procces a {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-procces a:hover {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-complited {
  width: 80px;
  text-align: center;
  font-size: 13px;
}

.dashboard-locations-list .dashboard-locations-complited span {
  display: block;
}

.dashboard-locations-list .dashboard-locations-complited a {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-complited a:hover {
  color: #303139;
}

.dashboard-locations-list .dashboard-locations-unpaid {
  width: 80px;
  font-size: 13px;
  text-align: center;
}

.dashboard-locations-list .dashboard-locations-unpaid a {
  color: red;
}

.dashboard-locations-list .dashboard-locations-unpaid a:hover {
  color: red;
}

.dashboard-locations-list .dashboard-locations-paid {
  width: 80px;
  font-size: 14px;
  text-align: center;
}

.dashboard-locations-list .dashboard-locations-paid a {
  color: green;
}

.dashboard-locations-list .dashboard-locations-paid a:hover {
  color: green;
}

.dashboard-item-notifications .panel-content {
  max-height: 250px;
}

.dashboard-notification-line {
  border-bottom: 1px solid #e4e4e4;
  padding: 5px;
}

.dashboard-notification-line:last-child {
  border-bottom: 0;
}

.dashboard-notification-line .dashboard-notification-date {
  font-size: 12px;
  color: #717177;
}

.dashboard-notification-line .dashboard-notification-text {
  width: calc(100% - 145px);
}

.dashboard-notification-line .dashboard-notification-action .btn-small {
  padding: 6px 12px;
  font-size: 12px;
}

.hide-desc {
  display: none;
}

.ship-date-change,
.ship-date-confirm {
  margin-left: 5px;
  padding: 4px 8px;
  font-size: 9px;
}

.delivery-form-block {
  width: 100%;
}

.delivery-form-line {
  width: 30%;
}

.delivery-form-line .form-input {
  margin-bottom: 0;
}

.delivery-form-line label {
  font-size: 12px;
}

#delivery_history {
  width: 100%;
  margin-top: 35px;
}

.delivery-history-line {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e4e4e4;
}

.delivery-history-line .btn-small {
  font-size: 12px;
  padding: 6px 12px;
}

.delivery-history-line .delivery-history-clinic {
  width: 180px;
  font-weight: bold;
}

.delivery-history-line .delivery-history-lab {
  width: 165px;
  font-weight: bold;
}

.delivery-history-line .delivery-history-delete {
  width: 70px;
  text-align: right;
}

.delivery-history-line .delivery-history-service {
  width: calc(100% - 420px);
  justify-content: space-around;
}

.delivery-history-line .delivery-history-arrow {
  width: 25px;
  height: 20px;
  background-size: 100%;
}

.delivery-history-line .delivery-history-name {
  width: 50%;
  text-align: center;
}

.delivery-history-line .delivery-history-left {
  background-image: url("/img/left_arr.png");
}

.delivery-history-line .delivery-history-right {
  background-image: url("/img/right_arr.png");
}

.location-check-results a {
  color: #0eb1c4 !important;
}

.location-check-results a:hover {
  color: #303139 !important;
  text-decoration: underline;
}

.price-changing-popup {
  text-align: left;
}

.price-changing-popup h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: #303139;
  font-weight: 400;
}

.price-changing-popup label {
  width: 100%;
  margin-top: 0;
  font-size: 12px;
}

.price-changing-popup .form-input {
  position: relative;
  top: -3px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 6px;
  width: calc(100% - 30px);
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

@media screen and (max-width: 1439px) {
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 45px;
  }

  .btn-small {
    padding: 8px 20px;
    font-size: 13px;
  }

  .order-buttons .btn-small {
    padding: 8px 30px;
  }

  #show_filter_block {
    padding: 10px 50px 10px 40px;
  }

  #show_filter_block:after {
    top: 14px;
  }

  .account-menu {
    position: relative;
    width: 255px;
    padding: 30px;
  }

  .panel-half,
  .dashboard-item {
    width: 100%;
    margin: 0 auto 30px;
  }

  .button-submit .btn {
    padding: 10px 30px;
  }

  section,
  .footer-banners {
    padding-left: 275px;
  }

  .account-list-cell,
  .account-order-table .account-list-cell,
  .account-invoices-table .account-list-cell {
    padding: 5px;
  }

  .account-list-cell .btn,
  .account-order-table .account-list-cell .btn,
  .account-invoices-table .account-list-cell .btn {
    margin-bottom: 5px;
    padding: 6px 10px;
    font-size: 10px;
  }

  .account-list-cell img,
  .account-order-table .account-list-cell img,
  .account-invoices-table .account-list-cell img {
    width: 30px;
  }

  .account-list-table4 .account-list-cell:first-child {
    width: 45%;
  }

  .account-list-table4 .account-list-cell:nth-child(2) {
    width: 25%;
  }

  .form-filter {
    width: 30%;
    margin: 0 1% 10px;
  }

  .form-filter .btn {
    padding: 8px 20px;
    font-size: 14px;
  }

  .account-menu-cl {
    width: 80px;
    padding: 30px 25px;
  }

  .section-menu-cl {
    padding-left: 110px;
  }

  .account-menu-content a {
    margin-bottom: 10px;
  }

  .account-list-content .account-list-line {
    font-size: 10px;
  }

  .account-list-head {
    font-size: 11px;
  }

  .tooltip-icon {
    top: -1px;
  }

  .dashboard-locations-list .dashboard-locations-name {
    width: calc(100% - 600px);
  }
}

@media screen and (max-width: 1280px) {
  .tooltip-icon {
    padding: 2px 4px 1px;
  }

  .delivery-history-line .delivery-history-name {
    width: 80%;
  }

  .delivery-form-line {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .account-menu-control {
    display: none;
  }

  .account-menu-content {
    display: none;
    padding: 15px 20px;
  }

  .account-menu-contentAct {
    display: block;
  }

  #account_menu_btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #0eb1c4;
    border-radius: 2px;
  }

  #account_menu_btn span {
    display: block;
    width: 38px;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    margin: 4px auto;
    transition: all 0.2s;
  }

  .account-menu-btnAct span:first-child {
    transform: rotate(-45deg) translate(-5px, 3px);
  }

  .account-menu-btnAct span:nth-child(2) {
    opacity: 0;
  }

  .account-menu-btnAct span:last-child {
    transform: rotate(45deg) translate(-7px, -4px);
  }

  aside {
    position: static;
    width: 100%;
    padding: 15px;
  }

  .account-menu {
    width: 100%;
    padding: 0;
  }

  section,
  .footer-banners {
    padding: 15px;
  }

  .dashboard-locations-logo {
    display: none;
  }

  .dashboard-locations-list .dashboard-locations-cancelled,
  .dashboard-locations-list .dashboard-locations-procces,
  .dashboard-locations-list .dashboard-locations-complited,
  .dashboard-locations-list .dashboard-locations-paid,
  .dashboard-locations-list .dashboard-locations-unpaid {
    font-size: 12px;
  }

  .dashboard-locations-list .dashboard-locations-line {
    padding: 5px;
  }

  .dashboard-locations-list .dashboard-locations-name {
    font-size: 12px;
    width: calc(100% - 400px);
  }

  .dashboard-item-notifications .panel-content {
    max-height: 400px;
  }

  .dashboard-notification-line .dashboard-notification-date {
    font-size: 10px;
  }

  .dashboard-notification-line .dashboard-notification-text {
    width: calc(100% - 110px);
    font-size: 12px;
  }

  .dashboard-notification-line .dashboard-notification-action .btn-small {
    padding: 5px 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .panel-head {
    font-size: 22px;
  }

  .dashboard-locations-list .dashboard-locations-cancelled,
  .dashboard-locations-list .dashboard-locations-procces,
  .dashboard-locations-list .dashboard-locations-complited {
    display: none;
  }

  .dashboard-locations-list .dashboard-locations-name {
    width: calc(100% - 160px);
  }

  .dashboard-message-line .dashboard-message-content,
  .dashboard-message-line .dashboard-message-name {
    font-size: 12px;
  }

  .dashboard-statuses-list .dashboard-statuses-name,
  .dashboard-statuses-list .dashboard-statuses-count {
    font-size: 12px;
  }

  .dashboard-orders-list .dashboard-orders-name {
    width: calc(100% - 105px);
  }

  .dashboard-orders-list .dashboard-orders-date {
    display: none;
  }

  .delivery-history-line {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  .delivery-history-line .delivery-history-clinic {
    width: 100%;
    margin-bottom: 15px;
  }

  .delivery-history-line .delivery-history-service {
    width: 100%;
    flex-direction: column;
  }

  .delivery-history-line .delivery-history-lab {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .delivery-history-line .delivery-history-delete {
    width: 100%;
    text-align: center;
  }

  .delivery-history-line .delivery-history-name {
    margin: 10px 0;
  }

  .delivery-history-line .delivery-history-right {
    transform: rotate(90deg);
  }

  .delivery-history-line .delivery-history-left {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 15px;
  }

  .account-menu-content .left-banners {
    width: 75%;
  }

  .account-table-progress,
  .account-list-head,
  .pay-controls,
  .breadcrumbs {
    display: none;
  }

  .account-list-content .account-list-line {
    padding: 10px 0;
    font-size: 17px;
  }

  .account-list-cell .btn,
  .account-invoices-table .account-list-cell .btn {
    padding: 10px 20px;
    font-size: 15px;
  }

  .account-list-cell {
    width: 100% !important;
    text-align: center;
  }

  .account-invoices-table .account-list-cell:first-child {
    display: none;
  }

  .account-invoices-table .account-list-cell:nth-child(2) {
    text-align: center;
  }

  #panel_top_buttons {
    justify-content: flex-end !important;
  }

  #panel_top_buttons .btn {
    margin-bottom: 10px;
  }

  #panel_top_buttons .panel-top-buttons {
    text-align: right;
  }

  .panel-top-fx {
    padding: 10px 15px;
  }

  .panel-top-fx .btn {
    margin-bottom: 5px;
  }

  .panel {
    padding: 25px;
  }

  .panel-buttons {
    text-align: center;
    justify-content: center;
  }

  .dashboard-item {
    padding: 15px;
  }

  .panel-1quarter,
  .panel-2quarter,
  .panel-3quarter {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }

  .order-icons-bar {
    width: 100%;
    justify-content: center;
  }

  .order-change-status {
    width: 100%;
    margin-top: 10px;
  }

  .form-filter {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }

  .order-prescription-Infoblock .prescription-service-name label {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

  .prescription-service-price {
    width: 100%;
    text-align: center;
  }

  .payment-popup {
    width: 300px;
  }

  .company-logo-title {
    width: 100%;
    margin-bottom: 20px;
  }

  #file_psev_input {
    padding-right: 48px;
  }

  #file_psev_input2 {
    padding-right: 41px;
  }

  .panel-mob-short {
    margin: 0 2% 5px;
  }

  .panel-transparent.panel-mob-short {
    padding-top: 0;
  }

  #show_filter_block {
    margin-bottom: 5px;
  }

  .hide-desc {
    display: block;
  }

  .payment-popup .payment-popup-pay {
    font-size: 16px;
  }

  .payment-popup .payment-popup-pay span {
    font-size: 14px;
  }

  .payment-popup .payment-popup-pay span #service_charge_msg {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    padding: 10px 20px;
  }

  .btn-small {
    padding: 8px 16px;
    font-size: 12px;
  }

  .order-buttons .btn-small {
    padding: 8px 16px;
  }

  .payment-popup {
    width: 300px;
  }
}

