.page-content {
  min-height: calc(100vh - 369px);
}

.branch-top {
  width: 100%;
  background-color: #dadbdd;
}

.branch-logo {
  background-color: #fff;
  width: 75px;
  height: 75px;
}

.branch-menu {
  justify-content: flex-end;
  width: calc(100% - 85px);
  padding: 23px 0;
}

.branch-menu div {
  font-size: 20px;
  margin: 0 40px;
  cursor: pointer;
}

.branch-menu div:hover {
  color: #0eb1c4;
}

.branch-block-head {
  padding-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #0eb1c4;
  font-size: 24px;
}

.branch-summary-left {
  width: 50%;
}

.branch-summary-right {
  width: calc(50% - 30px);
}

#map {
  width: 80%;
  height: 200px;
  margin: 0 auto 40px;
  border: 1px solid #dadbdd;
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.branch-summary-icons {
  width: 80%;
  margin: 0 auto 40px;
}

.branch-summary-icon {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 45px;
  background-position: 0 0;
  color: #404040;
}

.branch-summary-apl {
  background-image: url("/img/label.png");
  background-position: 0 4px;
  color: #0eb1c4;
}

.branch-summary-verified {
  background-image: url("/img/verified.png");
}

.branch-summary-email {
  background-image: url("/img/email.png");
  background-position: 0 4px;
}

.branch-summary-phone {
  background-image: url("/img/phone.png");
  background-position: 0 1px;
}

.branch-summary-location {
  background-image: url("/img/address.png");
}

.branch-summary-rating {
  width: 295px;
  margin-bottom: 40px;
}

.branch-info-rating {
  padding: 15px 20px 10px;
  background-color: #ed7e48;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.branch-info-rating span {
  display: block;
  font-size: 24px;
}

.branch-info-reviews {
  margin-left: 20px;
  margin-top: 15px;
}

.branch-info-stars {
  width: 125px;
  height: 22px;
  background-image: url("/img/ratings.png");
  background-position: 0 0;
  margin-bottom: 15px;
}

.branch-info-stars1 {
  background-position: 0 -22px;
}

.branch-info-stars2 {
  background-position: 0 -44px;
}

.branch-info-stars3 {
  background-position: 0 -66px;
}

.branch-info-stars4 {
  background-position: 0 -88px;
}

.branch-info-stars5 {
  background-position: 0 -110px;
}

.catalog-item-infoReviews {
  font-size: 14px;
  color: #0eb1c4;
  text-transform: uppercase;
}

.branch-my-lab {
  width: calc(100% - 315px);
  text-align: right;
}

.branch-list-add .btn {
  padding: 6px 12px 8px 12px;
  background-color: #4db546;
  font-size: 12px;
  font-weight: 400;
}

.branch-list-add .btn span {
  position: relative;
  top: 1px;
  margin-right: 3px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.branch-list-add .btn:hover {
  background-color: #303139;
}

.branch-list-remove {
  color: #4db546;
  font-weight: 700;
}

.branch-list-remove .btn {
  margin-top: 5px;
  padding: 6px 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.branch-info-description {
  width: 100%;
  margin-bottom: 40px;
}

.branch-checkout-link {
  margin: 15px 0;
  text-align: center;
}

.branch-prices-block {
  margin-bottom: 40px;
}

.branch-prices-head {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 35px;
  background-image: url("/img/verified.png");
  background-position: 0 3px;
}

.branch-prices-prices {
  width: 100%;
  padding-left: 35px;
}

.branch-prices-priceLine {
  position: relative;
  width: 100%;
  padding: 0 0 20px 0;
}

.branch-prices-priceName {
  position: relative;
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.branch-prices-priceName span {
  margin-right: 5px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.branch-prices-priceName:after {
  content: "..........................................................................................................................................................................................................................................................................";
  color: #a4a5aa;
  position: absolute;
  bottom: 0;
}

.branch-prices-priceValue {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding-left: 5px;
  font-weight: 700;
  text-align: right;
  z-index: 2;
}

.branch-portfolio-line {
  margin-bottom: 30px;
}

.branch-portfolio-head {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.branch-portfolio-images {
  width: 100%;
}

.branch-portfolio-image {
  width: 360px;
  height: 360px;
  margin: 0 10px 30px;
  opacity: 0.9;
  -ms-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.branch-portfolio-image a,
.branch-portfolio-image div {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.branch-portfolio-image:hover {
  opacity: 1;
  -ms-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
}

.branch-map-muted {
  background-image: url("/img/branch_map_muted.jpg");
  cursor: pointer;
}

.branch-map-muted:hover {
  background-image: url("/img/branch_map_mutedH.jpg");
}

.branch-info-ratingMuted {
  width: 295px;
  height: 84px;
  margin-bottom: 15px;
  background-image: url("/img/branch_rating_muted.jpg");
  cursor: pointer;
}

.branch-info-ratingMuted:hover {
  background-image: url("/img/branch_rating_mutedH.jpg");
}

.branch-reviews-muted {
  width: 100%;
  height: 594px;
  background-image: url("/img/branch_reviews_muted.jpg");
  cursor: pointer;
}

.branch-reviews-muted span {
  display: block;
  font-size: 20px;
  color: #000;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid #303139;
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.branch-reviews-muted span a {
  color: #fff;
}

.branch-reviews-muted span a:hover {
  color: #fff;
  text-decoration: underline;
}

.branch-reviews-totals {
  margin-bottom: 40px;
}

.branch-reviews-totals .branch-reviews-reviewsRating {
  margin-right: 15px;
}

.branch-reviews-totals .branch-info-stars {
  margin-right: 10px;
  margin-bottom: 0;
}

.branch-reviews-totals .branch-reviews-reviewsCount {
  color: #0eb1c4;
  text-transform: uppercase;
}

.branch-focus-block {
  margin: 10px 0 20px;
  text-align: center;
}

.branch-focus-body {
  width: 275px;
  margin: auto;
}

.branch-focus-service {
  height: 20px;
}

.branch-focus-main {
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .branch-portfolio-image {
    width: 175px;
    height: 175px;
  }

  .branch-menu div {
    margin: 0 10px;
  }
}

@media screen and (max-width: 769px) {
  .branch-portfolio-image {
    width: 125px;
    height: 125px;
  }

  .branch-summary-left {
    width: 100%;
  }

  .branch-summary-right {
    width: 100%;
    margin-bottom: 40px;
  }

  .branch-prices-prices {
    padding-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .branch-menu {
    justify-content: center;
    width: 100%;
  }

  .branch-menu div {
    width: 100%;
    text-align: center;
  }

  .branch-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
  }

  .branch-prices-priceName {
    width: 100%;
    height: initial;
    text-align: center;
  }

  .branch-prices-priceName:after {
    display: none;
  }

  .branch-prices-priceValue {
    position: static;
    width: 100%;
    text-align: center;
  }

  .branch-my-lab {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
  }
}

