.page-content {
  min-height: calc(100vh - 370px);
}

.catalog-top {
  width: 100%;
  position: relative;
}

.catalog-top-bottom {
  width: 100%;
  background-color: #eeeef0;
}

.catalog-top-all {
  width: 165px;
  padding: 30px 0;
  color: #303139;
  font-size: 18px;
  font-weight: 700;
}

.catalog-top-inputs {
  width: calc(100% - 175px);
  padding: 25px 0;
  justify-content: flex-end;
  align-items: center;
}

.catalog-input-line {
  position: relative;
  width: 260px;
  height: 36px;
  margin-left: 30px;
}

.catalog-input-line .select2-container--default .select2-selection--single {
  width: 260px;
  height: 36px;
  height: initial;
  background-color: transparent;
  border-color: transparent;
}

.catalog-input-line .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
  border-radius: 0 15px 15px 0;
}

.catalog-input-line .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #0eb1c4 transparent transparent transparent;
}

.catalog-input-line .form-input,
.catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
  width: 260px;
  height: 36px;
  padding: 7px 30px 7px 95px;
  background-color: #fff;
  border-color: #fff;
  border-radius: 15px;
  color: #303139;
}

.catalog-input-line .catalog-input-label {
  display: block;
  position: absolute;
  top: 10px;
  left: 16px;
  width: 68px;
  z-index: 2;
  font-size: 14px;
}

.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: 1px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 12px;
  border-color: #fff;
  -ms-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding: 4px 10px !important;
  border-radius: 15px !important;
  border-color: #dcd0d3 !important;
}

.catalog-top-filterBtn {
  position: relative;
  width: 260px;
  height: 36px;
  padding: 7px 30px 7px 18px;
  background-color: #fff;
  border-color: #fff;
  border-radius: 15px;
  color: #303139;
  cursor: pointer;
}

.catalog-top-filterBtn * {
  cursor: pointer;
}

.catalog-top-filterBtn span {
  position: relative;
  top: -1px;
  padding: 6px;
  font-size: 12px;
  margin-left: 5px;
}

.catalog-top-filterBtn:before {
  content: "";
  position: absolute;
  top: 17px;
  right: 8px;
  width: 14px;
  height: 2px;
  background-color: #0eb1c4;
}

.catalog-top-filterBtn:after {
  content: "";
  position: absolute;
  top: 11px;
  right: 14px;
  width: 2px;
  height: 14px;
  background-color: #0eb1c4;
}

.catalog-top-filterBtn:hover {
  color: #fff;
  background-color: #0eb1c4;
}

.catalog-top-filterBtn:hover:before,
.catalog-top-filterBtn:hover:after {
  background-color: #fff;
}

.catalog-headline h1 {
  width: calc(100% - 200px);
}

.catalog-show-allOnMap {
  width: 130px;
  margin-top: 38px;
  margin-right: 48px;
  border-bottom: 2px dotted #0eb1c4;
  opacity: 0.85;
}

.catalog-show-allOnMap:hover {
  opacity: 1;
}

.catalog-show-allOnMap div {
  position: relative;
  color: #0eb1c4;
  font-weight: bold;
  cursor: pointer;
}

.catalog-show-allOnMap div:hover {
  cursor: pointer;
}

.catalog-show-allOnMap div:after {
  content: "";
  position: absolute;
  top: -7px;
  right: -40px;
  width: 33px;
  height: 33px;
  background-image: url("/img/location.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.catalog-items {
  width: 100%;
}

.catalog-item {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #f4f4f5;
  -ms-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.catalog-item-left {
  width: 272px;
  margin-right: 30px;
  padding: 18px;
}

.catalog-item-logo {
  width: 235px;
  height: 235px;
  background-size: 100%;
  margin-bottom: 40px;
}

.catalog-item-logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-item-link {
  width: 100%;
  text-align: center;
}

.catalog-item-link a {
  position: relative;
  padding: 3px 30px;
  background-image: url("/img/eye.png");
  background-position: 99% 6px;
  background-repeat: no-repeat;
  transition: all 0.05s;
}

.catalog-item-link a:hover {
  color: #0eb1c4;
  font-weight: 700;
}

.catalog-item-right {
  width: calc(100% - 302px);
}

.catalog-item-info {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 30px;
}

.catalog-item-infoLeft {
  width: calc(100% - 300px);
}

.catalog-item-infoRigth {
  width: 290px;
  justify-content: flex-end;
}

.catalog-item-infoRating {
  padding: 15px 20px 10px;
  background-color: #ed7e48;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.catalog-item-infoRating span {
  display: block;
  font-size: 24px;
}

.catalog-item-infoReviews {
  margin-right: 20px;
  margin-top: 15px;
  text-align: right;
}

.catalog-item-infoStars {
  width: 125px;
  height: 22px;
  background-image: url("/img/ratings.png");
  background-position: 0 0;
  margin-bottom: 15px;
}

.catalog-item-infoStars1 {
  background-position: 0 -22px;
}

.catalog-item-infoStars2 {
  background-position: 0 -44px;
}

.catalog-item-infoStars3 {
  background-position: 0 -66px;
}

.catalog-item-infoStars4 {
  background-position: 0 -88px;
}

.catalog-item-infoStars5 {
  background-position: 0 -110px;
}

.catalog-item-infoReviews {
  font-size: 14px;
  color: #0eb1c4;
  text-transform: uppercase;
}

.catalog-item-infoName {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
}

.catalog-item-infoName a {
  color: #303139;
}

.catalog-item-infoName a:hover {
  color: #303139;
}

.catalog-item-infoIndustry {
  margin-bottom: 15px;
}

.catalog-item-infoMap {
  display: inline-block;
  position: relative;
  color: #0eb1c4;
}

.catalog-item-infoMap div {
  border-bottom: 1px dotted #0eb1c4;
  cursor: pointer;
}

.catalog-item-infoMap:hover {
  text-decoration: none;
  cursor: pointer;
}

.catalog-item-infoMap:after {
  content: "";
  position: absolute;
  top: 1px;
  right: -20px;
  width: 14px;
  height: 18px;
  background-image: url("/img/location_small.png");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.catalog-item-prices {
  border-top: 1px solid #f4f4f5;
  padding: 40px 30px 0;
}

.catalog-item-pricesHead {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.catalog-item-pricesBlock {
  width: 100%;
}

.catalog-item-priceLine {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.catalog-item-priceName {
  position: relative;
  width: 100%;
  height: 22px;
  overflow: hidden;
}

.catalog-item-priceName span {
  margin-right: 5px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.catalog-item-priceName:after {
  content: "..................................................................................................................................................................";
  color: #a4a5aa;
  position: absolute;
  bottom: 0;
}

.catalog-item-priceValue {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding-left: 5px;
  color: #0eb1c4;
  font-weight: 700;
  text-align: right;
  z-index: 2;
}

.catalog-item-pricesLink {
  margin: 20px 0;
  text-align: center;
}

.catalog-item-pricesLink a {
  display: inline-block;
  opacity: 0.85;
  border-bottom: 1px dotted #0eb1c4;
}

.catalog-item-pricesLink a:hover {
  opacity: 1;
  color: #0eb1c4;
  text-decoration: none;
}

.catalog-itemRatingMuted {
  width: 290px;
  height: 84px;
  background-image: url("/img/catalog_rating_muted.jpg");
  background-size: cover;
  cursor: pointer;
}

.catalog-itemRatingMuted:hover {
  background-image: url("/img/catalog_rating_mutedH.jpg");
}

.pagination-block {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
}

.pagination-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-block ul li {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 9px 0 0;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #e5e5e5;
  line-height: 1;
  font-size: 15px;
}

.pagination-block ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #303139;
}

.pagination-block ul li a:hover {
  color: #0eb1c4;
}

.pagination-block ul li.disabled:first-child,
.pagination-block ul li.disabled:last-child {
  display: none;
}

.pagination-block ul li.active {
  color: #0eb1c4;
}

.bootom-content {
  width: 100%;
}

.bootom-content .bottom-banner {
  width: 100%;
  height: 143px;
  background-image: url("/img/bottom_baner_bg.jpg");
  background-size: cover;
}

.bootom-content .bottom-banner-question {
  width: 50%;
  height: 143px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.bootom-content .bottom-banner-answer {
  width: 50%;
  height: 143px;
}

.bootom-content .bottom-banner-answer .btn {
  color: #303139;
  font-weight: 700;
}

#filter {
  display: none;
  position: absolute;
  top: 95px;
  left: 15px;
  width: calc(100% - 30px);
  padding: 20px;
  background-color: #eeeef0;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  -ms-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 50;
}

#filter .catalog-top-inputs {
  width: 100%;
  padding-top: 0;
}

#filter .catalog-inputs-line {
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#filter .catalog-inputs-line .catalog-input-line {
  width: 244px;
  margin: 0 15px;
}

#filter .catalog-inputs-line .catalog-input-line .form-input,
#filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
  width: 244px;
  padding-left: 115px;
  cursor: pointer;
}

#filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single {
  width: 244px;
}

#filter .catalog-inputs-line .catalog-input-line .catalog-input-label {
  width: 90px;
}

#filter .btn {
  padding: 10px 25px;
}

.catalog-input-symbol {
  display: block;
  position: absolute;
  top: 6px;
  right: 15px;
}

.filter-head {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.filter-btn-line {
  margin-top: 30px;
  text-align: right;
}

.catalog-top-filterBtnOp:after {
  display: none;
}

#map {
  width: 750px;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  .catalog-headline h1 {
    margin-top: 10px;
  }

  .catalog-input-line,
  .catalog-top-filterBtn,
  .catalog-input-line .form-input,
  .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 192px;
  }

  #filter {
    padding: 15px;
  }

  #filter .catalog-inputs-line .catalog-input-line {
    width: 192px;
    margin-bottom: 10px;
  }

  #filter .catalog-inputs-line .catalog-input-line .form-input {
    width: 192px;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single {
    width: 192px;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 192px;
  }

  .catalog-show-allOnMap {
    margin-top: 20px;
  }

  .catalog-item-info {
    flex-direction: column-reverse;
    padding-left: 0;
  }

  .catalog-item-infoLeft {
    width: 100%;
  }

  .catalog-item-infoRigth {
    width: 100%;
  }

  .catalog-item-prices {
    padding: 0 30px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .catalog-headline h1 {
    width: 100%;
  }

  .catalog-show-allOnMap {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
  }

  .catalog-top-all {
    width: 115px;
    padding: 20px 0;
  }

  .catalog-top-inputs {
    width: calc(100% - 125px);
    padding: 15px 0;
  }

  .bootom-content .bottom-banner {
    height: initial;
  }

  .bootom-content .bottom-banner-question {
    width: 100%;
    height: initial;
    text-align: center;
    padding: 30px 0 10px;
    font-size: 18px;
  }

  .bootom-content .bottom-banner-answer {
    width: 100%;
    height: initial;
    padding: 10px 0 30px;
    text-align: center;
  }

  .catalog-input-line {
    width: 48%;
    margin: 0 1% 10px;
  }

  .catalog-input-line .select2-container--default .select2-selection--single {
    width: 100%;
  }

  .catalog-top-filterBtn,
  .catalog-input-line .form-input,
  .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
  }

  #filter {
    position: static;
    width: 100%;
    border: 0;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 15px;
  }

  #filter .catalog-inputs-line .catalog-input-line {
    width: 48%;
    margin: 0 1% 10px;
  }

  #filter .catalog-inputs-line .catalog-input-line .form-input {
    width: 100%;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default {
    width: 100% !important;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single {
    width: 100%;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
  }

  .catalog-item-left {
    width: 100%;
    margin-right: 0;
    padding: 18px;
  }

  .catalog-item-logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-item-right {
    width: 100%;
  }

  .catalog-item-infoRigth {
    justify-content: center;
  }

  .catalog-item-infoLeft {
    text-align: center;
    padding: 0 5px;
  }

  .catalog-item-prices {
    padding: 0 18px;
  }

  .pagination-block ul li {
    width: 22px;
    height: 22px;
    padding: 5px 0 0;
    margin: 0 1px;
    font-size: 11px;
  }

  #map {
    width: 500px;
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .catalog-top-all {
    display: none;
  }

  .catalog-top-inputs {
    width: 100%;
  }

  .catalog-input-line {
    width: 100%;
    margin: 0 auto 10px;
  }

  .catalog-input-line .select2-container--default .select2-selection--single {
    width: 100%;
  }

  .catalog-top-filterBtn,
  .catalog-input-line .form-input,
  .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
  }

  #filter .catalog-inputs-line .catalog-input-line {
    width: 100%;
    margin: 0 auto 10px;
  }

  #filter .catalog-inputs-line .catalog-input-line .form-input {
    width: 100%;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default {
    width: 100% !important;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single {
    width: 100%;
  }

  #filter .catalog-inputs-line .catalog-input-line .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
  }

  #map {
    width: 300px;
    height: 175px;
  }
}

