.registration-types,
.registration-socials,
.registration-form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.registration-socials,
.registration-social-items,
.registration-form,
.registration-terms,
.registration-login,
.registration-form #submit {
  margin-top: 40px;
}

.registration-types {
  font-size: 32px;
  font-weight: 700;
}

.registration-types a {
  display: inline-block;
  margin: 0 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
  color: #303139;
}

.registration-types a:hover {
  color: #303139;
  text-decoration: none;
  border-color: #f5b303;
}

.registration-types a.registration-type-active {
  color: #303139;
  text-decoration: none;
  border-color: #f5b303;
}

.registration-socials {
  font-size: 24px;
}

.registration-social-items {
  justify-content: center;
}

.registration-social-item {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin: 0 12px;
  color: #fff;
  font-weight: 700;
  font-size: 33px;
  cursor: pointer;
}

.registration-social-item:hover {
  background-color: #303139 !important;
}

.registration-social-item.registration-social-ggl {
  background-color: #dd4b39;
}

.registration-social-item.registration-social-fcb {
  background-color: #3b5998;
}

.registration-separator {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b7b7b7;
  margin: 60px 0;
}

.registration-separator span {
  position: absolute;
  display: inline-block;
  padding: 5px 50px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

#file_psev_input {
  background-image: url("/img/download.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
}

#file_psev_input span {
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

.form-checkbox {
  width: 100%;
  max-width: 555px;
  margin: 0 auto 10px;
  position: relative;
  top: 5px;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}

.form-checkbox:hover {
  color: #303139;
}

.form-checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin: 2px;
  cursor: pointer;
}

.form-checkbox input[type=checkbox],
.form-checkbox input[type=radio] {
  position: absolute;
  left: -999999px;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.form-checkbox input[type=checkbox] + label:after,
.form-checkbox input[type=radio] + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
}

.form-checkbox input[type=checkbox] + label:before,
.form-checkbox input[type=radio] + label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  background-color: #0eb1c4;
  opacity: 0;
}

.form-checkbox input[type=checkbox]:checked + label:before,
.form-checkbox input[type=radio]:checked + label:before {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .registration-socials {
    font-size: 20px;
  }

  .registration-social-item {
    width: 48px;
    height: 48px;
    font-size: 28px;
  }

  .registration-socials,
  .registration-social-items,
  .registration-form,
  .registration-terms,
  .registration-login,
  .registration-form #submit {
    margin-top: 25px;
  }

  .registration-separator {
    margin: 45px 0;
  }

  .registration-types {
    font-size: 20px;
  }

  .registration-types a {
    margin: 0 8px;
    padding-bottom: 5px;
  }
}

