body {
  margin: 0;
  font-family: Gotham Pro, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
  background-image: none;
  background-color: #fff;
}

p {
  margin: 0 0 5px;
}

a {
  color: #000;
}

label {
  color: #000;
}

.not-print {
  display: none;
}

.print-focus {
  font-weight: 700;
  font-size: 15px;
}

.prescription-price-setInput input {
  border: none;
  background-color: transparent;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.print-source {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin: 0 0 10px;
  font-size: 10px;
}

.panel {
  position: relative;
  width: 1024px;
  margin: 0 auto 10px;
  background-color: white;
  padding: 10px 0 0;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.panel .panel-subhead,
.panel .panel-head {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

