body {
  margin: 0;
  font-family: Gotham Pro, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  overflow-x: hidden;
  background-image: none;
  background-color: #fff;
}

p {
  margin: 0 0 5px;
}

label {
  color: #000;
}

.not-print {
  display: none;
}

.print-focus {
  font-weight: 700;
  font-size: 15px;
}

.panel {
  position: relative;
  width: 100%;
  margin: 0 auto 10px;
  background-color: white;
  padding: 10px 0 0;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.panel .panel-subhead,
.panel .panel-head {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.panel-1quarter {
  padding-right: 0;
}

.panel-3quarter {
  padding-left: 0;
}

.prescriptions-head-print {
  padding-bottom: 10px;
}

.prescriptions-head-print .panel-subhead {
  font-size: 18px;
  border-bottom: 1px solid #000;
}

.prescriptions-head-print .panel-1quarter {
  width: 50%;
  padding: 0;
}

.prescriptions-head-print .panel-2quarter {
  width: 50%;
}

.prescriptions-head-print .order-comment-line {
  color: #000;
  border: 1px solid #bbbbbb;
  padding: 10px;
}

.form-line {
  margin: 0 0 5px;
}

.form-line-text {
  font-size: 12px;
}

.form-line-text strong {
  font-size: 14px;
}

.selecteds-for-print {
  display: flex;
}

.order-prescription-Infoblock > .fac {
  align-items: flex-start;
}

.order-prescription-Infoblock .form-line {
  margin-bottom: 10px;
}

.order-prescription-Infoblock .form-line.prescription-service-name {
  font-size: 16px;
  margin-bottom: 25px;
  border-bottom: 1px solid #000;
  min-height: 42px;
  line-height: 1;
}

.order-prescription-Infoblock .order-prescription-imgBl div {
  padding-right: 30px;
}

.order-prescription-Infoblock .order-prescription-imgBl span {
  position: relative;
  top: 3px;
  display: block;
  font-size: 14px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  min-height: 39px;
}

.order-prescription-Infoblock .order-prescription-imgBl span strong {
  display: inline-block;
}

.form-checkbox label {
  padding-left: 0;
  font-weight: 400;
}

.form-checkbox input[type=checkbox] + label:before,
.form-checkbox input[type=checkbox] + label:after,
.form-checkbox input[type=radio] + label:before,
.form-checkbox input[type=radio] + label:after {
  display: none;
}

.prescription-laboratory {
  display: block;
}

.print-content {
  min-height: 1024px;
}

.print-source {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin: 0 0 10px;
  font-size: 10px;
}

.order-prescription-attached .panel-head {
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #000;
}

.order-prescription-attached .panel-head:after {
  display: none;
}

