@font-face {
  font-family: "Gotham Pro";
  src: url("/css/font/GothamPro-Bold.eot");
  src: url("/css/font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("/css/font/GothamPro-Bold.woff") format("woff"), url("/css/font/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/css/font/GothamPro.eot");
  src: url("/css/font/GothamPro.eot?#iefix") format("embedded-opentype"), url("/css/font/GothamPro.woff") format("woff"), url("/css/font/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/css/font/GothamPro-Light.eot");
  src: url("/css/font/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("/css/font/GothamPro-Light.woff") format("woff"), url("/css/font/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  cursor: default;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Gotham Pro, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  color: #303139;
  overflow-x: hidden;
  background-image: url("/img/page_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
  background-attachment: fixed;
}

button,
input,
textarea,
select,
.form-input {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  width: 100%;
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #F7F7F7;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  color: initial;
  font-size: 16px;
  font-family: "Gotham Pro", "Helvetica", sans-serif;
  text-align: left;
  cursor: pointer;
}

button:before,
button:after,
input:before,
input:after,
textarea:before,
textarea:after,
select:before,
select:after,
.form-input:before,
.form-input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

button:focus,
button:target,
button:active,
button:hover,
input:focus,
input:target,
input:active,
input:hover,
textarea:focus,
textarea:target,
textarea:active,
textarea:hover,
select:focus,
select:target,
select:active,
select:hover,
.form-input:focus,
.form-input:target,
.form-input:active,
.form-input:hover {
  outline: none !important;
}

button:disabled,
input:disabled,
textarea:disabled,
select:disabled,
.form-input:disabled {
  cursor: default;
  background-color: #e2e2e2;
}

button::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
.form-input::-webkit-input-placeholder {
  color: #303139;
}

button:-moz-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder,
.form-input:-moz-placeholder {
  color: #303139;
}

button::-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
.form-input::-moz-placeholder {
  color: #303139;
}

button:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
.form-input:-ms-input-placeholder {
  color: #303139;
}

button,
input[type=submit] {
  width: initial;
  -webkit-appearance: none;
}

label {
  display: block;
  width: 100%;
  max-width: 555px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: initial;
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  cursor: pointer;
  color: #0eb1c4;
  text-decoration: none;
}

a * {
  cursor: pointer;
}

a:hover {
  color: #303139;
}

p {
  margin: 0 0 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border: none;
  background-color: #999;
  border-radius: 5px;
  width: 20px;
  max-width: 20px;
  margin-left: -10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background: #555;
}

::-webkit-scrollbar-track {
  border: none;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track:hover {
  background-color: #eee;
  cursor: pointer;
}

::-webkit-scrollbar-track:active {
  background: #aaa;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.fx {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.fxc {
  align-items: center;
  justify-content: center;
}

.fxb {
  align-items: flex-start;
  justify-content: space-between;
}

.fac {
  align-items: center;
}

.fsb {
  justify-content: space-between;
}

.bi {
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.page-content {
  min-height: calc(100vh - 294px);
  margin-bottom: 40px;
}

.btn {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 15px 60px;
  background-color: #0eb1c4;
  border: 0;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: all 0.2s;
  -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover,
.btn:focus,
.btn:target {
  background-color: #303139;
  color: #fff;
}

.btn-primary {
  background-color: #f5b303;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:target {
  background-color: #fff;
  color: #303139;
}

.btn-grey {
  background-color: #6D6E70;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:target {
  background-color: #303139;
  color: #fff;
}

.btn-danger {
  background-color: #ff2525;
}

.btn-danger:hover {
  background-color: red;
}

.btn-notprimary {
  background-color: #8a8a8a;
}

.btn-notprimary:hover {
  background-color: #fff;
  color: #303139;
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#loader div {
  width: 184px;
  height: 40px;
  background-image: url("/img/loader.gif");
}

.form-line {
  width: 100%;
  margin-bottom: 10px;
}

.form-line .error {
  color: red;
}

header,
footer {
  width: 100%;
  background-color: #303139;
  color: #fff;
  font-size: 18px;
}

header {
  padding: 15px 0;
  -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.logo {
  width: 207px;
  height: 26px;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-tagline {
  margin-top: 15px;
}

.auth-block {
  color: #fff;
  font-size: 14px;
}

.auth-block span {
  margin: 0 10px;
}

.auth-block-logout a {
  background-color: #6B6B6B;
  color: #fff;
}

.auth-block-logout a,
.auth-btn {
  padding: 6px 23px;
  border-radius: 10px;
}

.auth-block-logout a:hover,
.auth-btn:hover {
  background-color: #f5b303;
  color: #fff;
  text-decoration: none;
}

.auth-block-upgrade {
  margin-right: 15px;
}

.auth-block-upgrade .btn {
  padding: 6px 23px;
}

.auth-block-name a,
.auth-block-logo a {
  color: #fff;
}

.auth-block-name a:hover,
.auth-block-logo a:hover {
  color: #f5b303;
  text-decoration: none;
}

.auth-block-name {
  max-width: 170px;
  font-weight: 700;
  margin-right: 10px;
}

.auth-block-name div {
  font-size: 14px;
  opacity: 0.65;
}

.auth-block-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #e4e4e4;
}

.auth-block-logo img {
  display: block;
  width: 100%;
  max-width: 50px;
  height: auto;
  max-height: 50px;
  margin: auto;
  border-radius: 50%;
}

.breadcrumbs {
  margin: 20px 0;
  color: #464647;
}

.breadcrumbs a {
  color: #939395;
  border-bottom: 1px dotted;
}

.breadcrumbs a:hover {
  color: #0eb1c4;
  text-decoration: none;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs ul li {
  display: inline;
  position: relative;
}

.breadcrumbs ul li + li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 8px 0 4px;
  border-radius: 50%;
  background-color: #b1b0b0;
}

footer {
  padding: 30px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-links a {
  margin: 0 20px;
}

.footer-socials a {
  display: inline-block;
  height: 18px;
  margin-left: 12px;
  background-image: url("/img/socials.png");
}

.footer-socials .fcb {
  width: 10px;
  background-position: 0 0;
}

.footer-socials .twtr {
  width: 18px;
  background-position: -12px 0;
}

.footer-socials .inst {
  width: 18px;
  background-position: -32px 0;
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#cboxOverlay {
  background: #000;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: transparent;
}

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

#cboxPrevious,
#cboxNext,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  background: url("/img/controls.png") no-repeat 0 0;
}

#cboxPrevious:active,
#cboxNext:active,
#cboxClose:active {
  outline: 0;
}

#cboxPrevious {
  background-position: 0px 0px;
  right: 52px;
}

#cboxPrevious:hover {
  background-position: 0px -25px;
}

#cboxNext {
  background-position: -25px 0px;
  right: 30px;
}

#cboxNext:hover {
  background-position: -25px -25px;
}

#cboxClose {
  background-position: -50px 0px;
  right: 5px;
}

#cboxClose:hover {
  background-position: -50px -25px;
}

.popup-content {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
}

.popup-content .btn-small {
  padding: 10px 25px;
  font-size: 14px;
}

.head-notifications {
  position: relative;
  background-image: url("/img/notification.png");
  width: 50px;
  height: 38px;
  margin-right: 10px;
  color: #fff;
}

.head-notifications:hover {
  color: #fff;
  text-decoration: none;
  top: -1px;
}

.head-notifications-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  font-size: 9px;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.footer-banners {
  margin-bottom: 15px;
}

.footer-banner {
  max-width: 350px;
  margin: 0 15px 15px;
}

.footer-banner a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-banner a img {
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
  -ms-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.2);
  -o-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.2);
  box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.2);
}

.footer-banner a img:hover {
  -ms-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.5);
  -o-box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.5);
  box-shadow: 0 10px 15px 0 rgba(100, 100, 100, 0.5);
}

@media screen and (max-width: 1024px) {
  .page-content {
    min-height: 100px;
  }

  .logo-tagline {
    display: none;
  }

  footer .content .fx {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    width: 100%;
    margin: 15px 0;
  }

  .footer-links a {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  .btn {
    padding: 10px 30px;
  }

  .popup-content {
    width: 450px;
    max-width: 450px;
    min-width: 300px;
  }

  .head-notifications {
    background-size: 100%;
    width: 35px;
    height: 28px;
  }

  .head-notifications-count {
    width: 15px;
    height: 15px;
    font-size: 7px;
  }
}

@media screen and (max-width: 600px) {
  header .fsb {
    align-items: center;
    justify-content: center;
  }

  .logo-block {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo-block .logo {
    margin: auto;
  }

  .auth-block {
    margin-bottom: 5px;
  }

  .btn {
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.75);
  }

  .popup-content {
    width: 340px;
    max-width: 340px;
    min-width: 240px;
    padding: 20px;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

